@use '../index' as *;
/* USER PROFILES */

// FIXES POPOUT BG
.full-motion .translate_faf9c0 {
  transform: unset !important;
}

// NO CUSTOM PROFILE
.outer_c0bea0:not(.custom-profile-theme, .container__5a2c6),
.outer_ab8609:not(.custom-profile-theme, .container__5a2c6) {
  background: transparent;
  .inner_c0bea0,
  .inner_ab8609 {
    // POPOUT
    &.user-profile-popout {
      background: cv('bg.popout.overlay');
      &::before {
        content: '';
        position: absolute;
        @include stretch;
        background: cv('bg.popout.img') cv('bg.popout.pos') / cv('bg.popout.size') cv('bg.popout.repeat') cv('bg.popout.attach');
        @include filters(cv('bg.popout'));
        z-index: -1;
      }
    }

    // MODAL
    &.user-profile-modal {
      background: cv('bg.general.card');
      &::before {
        content: '';
        position: absolute;
        background: cv('bg.modal.img') cv('bg.modal.pos') / cv('bg.modal.size') cv('bg.modal.repeat') cv('bg.modal.attach');
        @include filters(cv('bg.modal'));
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  // STATUS
  .theme-dark & .outer_ab8609 {
    background: hsla(0, 0%, 0%, 0.6);
    border-color: 1px solid $main-color;
    &::before {
      background: hsla(0, 0%, 0%, 0.6);
      border-color: 1px solid $main-color;
      height: 10px;
      border-radius: 10px 10px 0 0;
    }
    &::after {
      background: hsla(0, 0%, 0%, 0.6);
      border-color: 1px solid $main-color;
    }
  }
  .inner_ab8609 {
    background: rgba(0, 0, 0, 0.6);
  }

  // BANNER
  .banner__68edb {
    mask: linear-gradient(to bottom, #000, transparent 93%);
  }

  // CONTENT
  .overlay_c0bea0 {
    background-color: cv('bg.general.card');
  }
  .container__8061a {
    background-color: transparent;
    border: transparent !important; // important needed for custom profiles.
  }

  // CONNECTED ACCOUNTS
  .connectedAccountContainer_e6abe8 {
    background: hsla(0, 0%, 100%, 0.04);
    border-color: transparent;
    border-radius: 5px;
  }

  // LIST
  .listRow__9d78f {
    transition: all 0.15s ease-in-out;
    &:hover {
      background: linear-gradient(to right, hsla(0, 0%, 100%, 0.04) 10%, hsla(0, 0%, 100%, 0.04) 90%, transparent);
    }
  }

  // NOTES
  .note_fcb628 {
    textarea:focus {
      background-color: hsla(0, 0%, 100%, 0.07);
    }
  }
}

// CUSTOM PROFILE
.custom-profile-theme {
  .scroller_fcb628 {
    &::-webkit-scrollbar-thumb {
      background-color: (--profile-gradient-secondary-color);
    }
  }
  .note_fcb628 {
    .input__0f084:focus {
      box-shadow: 0 0 2px 2px var(--profile-gradient-primary-color);
    }
  }
  .channelTextArea__74017 {
    background: var(--input-background);
    &:focus-within {
      box-shadow: 0 0 2px 2px var(--profile-gradient-primary-color);
    }
  }
}

// upsell "AmP uP yOuR pRoFiLe" - discord lmao
.upsellContent__5997d {
  display: none;
}

// GENERAL
// CONNECTED ACCOUNTS
.connectedAccountVerifiedIcon_e6abe8 {
  .flowerStar__3e3b0 {
    opacity: 1;
  }
}
.connectedAccountOpenIcon_e6abe8 {
  background: url(https://clearvision.github.io/icons/popout.svg) center/18px no-repeat;
  opacity: 0.3;
  transition: all 0.15s ease-in-out;
  transform: none;
  > polygon {
    display: none;
  }
}

// MESSAGE USER
html:not(.visual-refresh-chat-input) .inner_a99829 {
  background: transparent;
}
