@use '../../index' as *;
.replugged-addon-card {
  background: var(--background-overlay);
}
/*Replugged install thing*/
.wrapper__124c8 {
  background: var(--background-overlay);
  border: 2px solid $main-color;
}
