@use '../index' as *;
/* CHAT BARS */
// NEW MESSAGES BAR
.newMessagesBar__0f481 {
  background: transparent;
  transition: all 0.15s ease-in-out;
  &:before {
    content: '';
    position: absolute;
    @include stretch;
    background: $main-color;
    border-radius: 0 0 3px 3px;
    opacity: 0.8;
    z-index: -1;
    transition: all 0.15s ease-in-out;
  }
  &:hover,
  &:active {
    &:before {
      opacity: 1;
    }
  }
  &:active {
    padding-top: 0;
    transform: scale(0.99);
  }
}

// JUMP TO PRESENT BAR
.jumpToPresentBar__0f481,
.bottomBar__0f481 {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
  padding-bottom: 0px;
  max-height: 24px;
  .barButtonBase__0f481 {
    color: hsla(0, 0%, 100%, 0.7);
    transition: inherit;
  }
  &:hover {
    background: $main-color;
    .barButtonBase__0f481 {
      color: #fff;
    }
  }
  &:active {
    transform: scale(0.99);
  }
}

// HAS MORE BAR

// MESSAGE ERROR BAR
.messagesErrorBar__0f481 {
  background: cv('colors.danger');
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
  padding-bottom: 0px;
}

// BRAND
.bar__7aaec {
  background-color: $main-color;
}
