@use '../index' as *;
/* CHAT */
.base_c48ade {
  .chat_f75fb0 {
    background: transparent;
  }
  .page_c791b2 {
    background: transparent !important;
  }
}
.chatContent_f75fb0,
.resizeHandle__01ae2 {
  background: rgba(0, 0, 0, calc($bg-shading * 0.5));
}
.chat_f75fb0 {
  // CONTENT
  .content_f75fb0 {
    background: transparent;
    &:before {
      box-shadow: none;
    }
  }
}

// GATED CHANNEL
.content_f75fb0 > .wrapper__28a87 {
  background: rgba(0, 0, 0, 0.5);
}
.gatedContent__7184c {
  .image__7184c {
    filter: hue-rotate(-47deg) saturate(2);
    opacity: 0.5;
  }
  .title__7184c {
    color: cv('colors.danger');
    font-weight: 600;
    text-shadow: 0 0 3px #000;
  }
  .description__7184c {
    color: hsla(0, 0%, 100%, 0.7);
  }
}

// EMPTY CHANNEL
.emptyChannelIcon__00de6 {
  background-color: $main-color;
}
.role_b4b2c3 {
  background: transparent;
  .roleColor_b4b2c3 {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    right: -1px;
    border-radius: 3px;
    z-index: -1;
    opacity: 0.2;
  }
  &:hover {
    background-color: transparent;
    .roleColor_b4b2c3 {
      opacity: 0.3;
    }
  }
}

// NO CHANNEL
.base_c48ade {
  .noChannel__01d5c {
    background: rgba(0, 0, 0, 0.5);
  }
}
.noChannel__01d5c {
  .image__33d12 {
    filter: grayscale(1) brightness(2);
    opacity: 0.3;
  }
  .title__33d12 {
    color: hsla(0, 0%, 100%, 0.5);
  }
  .text__33d12 {
    color: hsla(0, 0%, 100%, 0.3);
  }
}

// CHAT LOADING
.wrapper_d852db,
.wrapper_fc8177 {
  background-color: transparent;
}

// REPLY MENTION TOGGLE
div[aria-checked='true'] .mentionButton__841c8 {
  color: $main-color !important;
}

// THREAD
.container_fb64c9 {
  background: rgba(0, 0, 0, calc($bg-shading * 0.5));
}
.iconWrapper__54b20 {
  background-color: $main-color;
  path {
    fill: #fff;
  }
}

// UPLOAD DRAG DROP MODAL
.uploadModalIn_dbca3c {
  .uploadDropModal_dbca3c {
    .bgScale_dbca3c {
      background-color: $main-color;
    }
    .inner_dbca3c {
      border: 2px dashed hsla(0, 0%, 100%, 0.5);
    }
  }
}
