@use '../index' as *;
/* MOD VIEW */

// HEADER
.container__34940 {
  background-color: cv('bg.general.card');
}
.topRow__34940,
.bottomRowAction__34940 {
  background-color: transparent;
}
.innerBottomRowAction__34940 {
  background-color: hsla(0, 0%, 100%, 0.05);
}

// BODY
.container__3a5a1 {
  background-color: cv('bg.general.card');
}
.header__3a5a1 {
  background-color: transparent;
  box-shadow: none;
}
.modInfoItem__96c0b {
  background-color: cv('bg.general.card');
}
.modInfoAction__96c0b {
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
}
.permissionChiplet__1ef77,
.elevatedPermission__1ef77 {
  background-color: hsla(0, 0%, 100%, 0.07);
}

// SERVER ACTIVITY
.innerContainer__39de8 {
  .container__02a39 .searchResult__02a39 {
    background-color: cv('bg.general.card') !important;
  }
}

// MOD PERMISSIONS
.permissionItemContainer__3f11f {
  background-color: cv('bg.general.card');
  &.elevatedPermission__3f11f {
    background-color: hsla(0, 0%, 0%, 0.6);
    border: 1px solid hsla(0, 0%, 100%, 0.05);
  }
}
