@use '../index' as *;
/* STAGE CALL */

// POPOUT
.iconBackground__0b34e {
  background-color: $main-color;
}

// STAGE
.container__722ff {
  background: rgba(0, 0, 0, calc($bg-shading * 0.5));
}
.callContainer__722ff,
.scroller__56ccd {
  background-color: transparent;
}
.gradientContainer_bfe55a {
  background-image: none;
}
.separator__0b34e {
  background-color: $main-color;
}
.participants__9c309 {
  background-color: transparent;
}
.rowContainer__8a920 {
  background: transparent;
}
.tileContainer__71eb2 {
  background-color: cv('bg.general.card');
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
}
.toast_d3c698 {
  .messageContentWrapper_d3c698 {
    background-color: hsla(0, 0%, 0%, 0.8);
    &:hover {
      background-color: hsla(0, 0%, 0%, 0.6);
    }
  }
}

// THE AUDIENCE CONTAINER IN VC CHANNELS
.voiceUser__07f91 {
  padding-top: 4px;
}
.overlap__07f91 {
  .avatar__07f91 {
    border: none;
  }
}
.audienceContainer__55bab {
  background-color: hsla(0, 0%, 0%, 0.8);
  border: hsla(0, 0%, 0%, 0.8);
  .audienceIconContainer__55bab {
    background: $main-color;
  }
  .audienceIcon__55bab {
    color: #fff;
  }
  .text-sm\/medium_cf4812 {
    color: rgba(255, 255, 255, 0.9) !important;
  }
}
.container__6b38f {
  background: rgba(0, 0, 0, calc($bg-shading * 0.3));
  &:hover {
    background: rgba(0, 0, 0, calc($bg-shading * 0.6));
  }
}
.primaryButtonColor_fcb27c {
  background: $main-color;
  &:hover {
    background: $hover-color;
  }
}

// ICON WHEN HOVERING SERVER
.stageListenerPill_b1f768 {
  background: $main-color;
  .text-xs\/normal_cf4812 {
    color: #fff !important;
  }
  > svg {
    color: #fff;
  }
}

// STARTING A STAGE CALL
.topicFormItem__327b5 {
  .input__0f084 {
    background: cv('bg.general.card');
    box-shadow: 0 0 0 2px $main-color;
  }
  .textInput__327b5 {
    background: transparent;
  }
}

// REQUESTS
.container__664ff {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.6));
}
.background__506d9 {
  background-color: $main-color;
  .foreground__506d9 {
    color: #fff;
  }
}
