@use '../index' as *;
/* CHAT CHANNEL TEXT AREA */
.form_f75fb0 {
  margin-top: 1px;
  &:before,
  &:after {
    display: none;
  }
  .charcounter {
    color: hsla(0, 0%, 100%, 0.3);
  }
}
.channelTextArea__74017 {
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.15s ease-in-out;
  &:focus-within {
    box-shadow: 0 0 2px 2px $alt-color;
  }
}
.scrollableContainer__74017 {
  background: transparent;
  border: 2px solid transparent;
}
.attachButton__0923f {
  padding: 10px 10px 10px 12px;
  .attachButtonPlus__0923f {
    color: hsla(0, 0%, 100%, 0.7);
    transition: all 0.15s ease-in-out;
  }
  &:hover {
    .attachButtonPlus__0923f {
      color: hsla(0, 0%, 100%, 0.9);
    }
  }
}
.textArea__74017 {
  margin-left: 10px;
}
.placeholder__1b31f {
  color: hsla(0, 0%, 100%, 0.4) !important;
}

// BUTTONS
.button__24af7 {
  color: hsla(0, 0%, 100%, 0.7);
  transition: all 0.15s ease-in-out;
  &:hover {
    color: hsla(0, 0%, 100%, 0.9);
  }
}

// TYPING
.typing_b88801 {
  background: transparent;
  .text_b88801 {
    color: hsla(0, 0%, 100%, 0.5);
    > strong {
      color: hsla(0, 0%, 100%, 0.7);
      font-weight: 700;
    }
  }
}

// LINK
.fakeLink_ada32f {
  color: var(--url-color);
}

// FOLLOW CHANNEL
.wrapper__44df5 {
  background-color: hsla(0, 0%, 0%, 0.6);
}

// ATTACHED BARS
.stackedBars__74017 {
  background: transparent;
}
.stackedAttachedBar_bdf0de {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
}

// REPLY
.replyBar__841c8,
.threadSuggestionBar__841c8 {
  background: transparent;
  border: 2px solid transparent;
  box-shadow: none;
}
.closeButton_e876a8 {
  padding: 8px 16px 8px 4px;
  margin-left: 4px;
}
.separator__841c8 {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

// SLASH COMMANDS
.theme-dark {
  .optionPill__1464f {
    background-color: hsla(0, 0%, 100%, 0.05);
    border-color: hsla(0, 0%, 100%, 0.07);
    &.selectedPill__1464f {
      border-color: $main-color !important;
    }
  }
  .optionPillKey__1464f {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
}

// UPLOADER
.upload_aa605f {
  background-color: transparent;
}

// TIMEOUT
.spamBanner_a2eac3 {
  background: cv('bg.general.popout');
}
.container__65338 {
  background: cv('bg.general.popout');
  .iconContainer__65338 {
    background: rgba(0, 0, 0, 0.2);
  }
}

// INLINE CODE PREVIEW
.before_inlineCode_ada32f,
.after_inlineCode_ada32f {
  background: rgba(255, 255, 255, 0.05);
  padding: 3.5px 0.5px;
}
.inlineCode_ada32f {
  background: rgba(255, 255, 255, 0.1);
  padding: 3.5px 0.5px;
}

// CHAT TOOLBAR
.toolbar_bba883 {
  background-color: cv('bg.general.popout');
  &::before {
    border-top: 8px solid hsla(0, 0%, 0%, 0.8);
  }
}
.button_bba883:hover {
  background-color: hsla(0, 0%, 100%, 0.05);
}
.icon_bba883 {
  color: hsla(0, 0%, 100%, 0.7);
}

// Create thread
.createThreadButton__841c8 {
  color: var(--url-color) !important;
}
