@use '../index' as *;
/* CHAT CHANNEL TEXT AREA AUTOCOMPLETE */
.theme-dark {
  .autocomplete__13533 {
    background: transparent;
    overflow: hidden;
  }
}
.autocomplete__13533 {
  .autocompleteInner__13533 {
    background: cv('bg.general.popout');
    animation: cv-menu-slide-bottom 0.2s ease-in-out;
    transform-origin: 50% 100%;
  }
  .contentTitle__13533 {
    color: hsla(0, 0%, 100%, 0.5);
  }
  .clickable__13533[aria-selected='true'] .base__13533,
  .clickable__13533[aria-disabled='false'] .base__13533:hover {
    background: $main-color;
  }
  .base__13533 {
    .text-xs\/medium_cf4812,
    .text-xs\/normal_cf4812 {
      color: #fff !important;
    }
  }
  .iconForeground__13533 {
    fill: hsla(0, 0%, 100%, 0.7);
  }
  .autocompleteRowContentSecondary__13533,
  .autocompleteRowSubheading__13533 {
    color: #fff;
  }
}
// SLASH COMMANDS AUTOCOMPLETE
.wrapper_b1e4f3,
.list_b1e4f3,
.categoryHeader_d1405b {
  background-color: transparent;
}
.selected__1a58a {
  background-color: $main-color;
  &:hover {
    background-color: $main-color;
  }
}
.theme-dark .option_a19535 {
  background-color: hsla(0, 0%, 0%, 0.5);
}
.optionals__920ab {
  border: none;
}
.optionalCount__920ab {
  color: hsla(0, 0%, 100%, 0.7);
}
// REMOVE AUTOCOMPLETE NITRO AD
.nitroTopDividerContainer_b3fb5f,
.premiumEmoji_d4ce86,
.premiumHeader_f73c14 {
  display: none;
}
// REMOVE ENTIRE BOX IF ONLY CONTAINS NITRO AD
.autocomplete__13533:has(.base__13533 + .nitroTopDividerContainer_b3fb5f) {
  display: none;
}
