@use '../index' as *;
/* BLOCKED MESSAGE */
.blockedAction__7a70a {
  color: $main-color;
  .blockedSystemMessage__7a70a:hover & {
    color: $hover-color;
  }
}
.expanded__7a70a {
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 7px;
  transition: all 0.15s ease-in-out;
  + .divider__5126c,
  + .divider__908e2 {
    margin-top: 25px;
  }
  .divider__5126c + &,
  .divider__908e2 + & {
    margin-top: 25px;
  }
}
// BLOCKED MESSAGE ACTION
.blockedAction__7a70a {
  color: $main-color;
}
.blockedSystemMessage__7a70a:hover .blockedAction__7a70a {
  color: $hover-color;
}
