@use '../index' as *;
/* EMBED */
.embed__623de {
  .embedFieldName__623de,
  .embedTitle__623de {
    color: #fff !important;
  }
  .embedProvider__623de {
    color: hsla(0, 0%, 100%, 0.7) !important;
  }
  .embedDescription__623de,
  .embedFieldValue__623de {
    color: hsla(0, 0%, 100%, 0.7);
  }
  .embedLink__623de {
    color: $main-color;
    @include hover-shadow;
  }
  .embedTitleLink__623de {
    color: $main-color !important;
  }

  // VIDEO ACTIONS
  .embedVideoActions__623de {
    .wrapper__926d7 {
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }
  a > code {
    &.inline {
      color: $main-color;
    }
  }

  // FOOTER
  .embedFooterText__623de {
    color: hsla(0, 0%, 100%, 0.5);
  }
  .embedFooterSeparator__623de {
    color: hsla(0, 0%, 100%, 0.07);
  }
}
.embedFull__623de {
  background: hsla(0, 0%, 0%, 0.3);
}

// IMAGE ERROR
.imageError_af017a {
  filter: grayscale(1) brightness(2);
  opacity: 0.3;
}
