@use '../index' as *;
/* INVITE LINK */
.wrapper_d5f3cd {
  background: cv('bg.general.card');
}
.header_d5f3cd {
  color: hsla(0, 0%, 100%, 0.5);
}
.guildName_d5f3cd {
  color: $main-color;
  @include hover-shadow;
}
.guildIcon_d5f3cd {
  background-color: hsla(0, 0%, 100%, 0.07);
}
.guildIconExpired_d5f3cd {
  position: relative;
  background-size: 0;
  background: hsla(0, 0%, 100%, 0.04);
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%;
    width: 6px;
    background: cv('colors.danger');
    border-radius: 1px;
  }
  &:after {
    transform: translateX(-50%) rotate(45deg);
  }
  &:before {
    transform: translateX(-50%) rotate(-45deg);
  }
}
.guildDetail_d5f3cd {
  color: hsla(0, 0%, 100%, 0.3);
}
.statusOnline_d5f3cd {
  background: cv('colors.online');
}
.statusOffline_d5f3cd {
  background: cv('colors.offline');
}
.wrapper_d5f3cd {
  .lookFilled__201d5.colorGreen__201d5 {
    background: transparent;
    border: 1px solid cv('colors.success');
    &:hover {
      background: cv('colors.success');
    }
  }
}
.inviteDestinationExpired_d5f3cd {
  color: cv('colors.danger');
}