@use '../index' as *;
/* MENTIONS */
.wrapper_f61d60 {
  padding: 1px 4px;
  border-radius: 5px;
  line-height: 22px;
  white-space: nowrap;
  transition: all 0.15s ease-in-out;
  background-color: $main-color;
  color: #fff;
  &:hover {
    background-color: $hover-color;
  }
  &.icon_b52c3f {
    padding-left: 1.2rem;
  }
}
// BACKGROUND
.message__5126c.mentioned__5126c {
  background-color: hsla(0, 0%, 100%, 0.05);
  &.selected__5126c,
  .mouse-mode.full-motion &:hover {
    background-color: hsla(0, 0%, 100%, 0.08);
  }
  &::before {
    background-color: $main-color;
  }
}

// ICON
.icon_b52c3f path {
  fill: #fff;
}
