@use '../index' as *;
/* MESSAGE */

// HEADER
.avatar_c19a55 {
  transition:
    all 0.3s ease-in-out,
    transform 0.1s ease-in-out;
  &.clickable_c19a55:active {
    transform: scale(0.9);
  }
}
.message__5126c {
  .timestamp_c19a55 {
    color: hsla(0, 0%, 100%, 0.5);
    &.alt_c19a55 {
      color: hsla(0, 0%, 100%, 0.5);
    }
  }
}
// SYSTEM MESSAGE
.container__235ca {
  color: hsla(0, 0%, 100%, 0.5);
}
.content__235ca {
  .actionAnchor__235ca {
    color: var(--url-color);
  }
}

// QUOTES
.blockquoteDivider__75297 {
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 0;
}

// GIFS/EMBEDS
.inlineMediaEmbed__623de {
  max-width: max-content;
}

// SPOILER
.spoilerMarkdownContent__54ab5 {
  background-color: hsla(0, 0%, 0%, 0.8);
}

// LINKS
.markup__75297 a,
.anchor_edefb8 {
  color: var(--url-color) !important;
}

// INVALID GIFT
.tile__72090 {
  background-color: cv('bg.general.card');
  .theme-dark &:hover {
    background-color: cv('bg.general.card');
  }
}

// REPLY
.repliedMessage_c19a55 {
  color: $text-normal;
}
.repliedMessageClickableSpine_c19a55 {
  border-color: $main-color;
  &.repliedMessageContentHovered_c19a55 {
    border-color: $hover-color;
  }
}
.repliedTextPreview_c19a55 {
  opacity: 0.7;
  max-height: unset;
  &.repliedMessageClickableSpineHovered_c19a55 {
    opacity: 1;
  }
}

// EXECUTE COMMAND
.executedCommand_c19a55 {
  .appLauncherOnboardingCommandName_c19a55 {
    color: $main-color;
    background: transparent;
    &:hover {
      color: $hover-color;
      background: transparent;
    }
  }
}

// THREADS
.message__5126c.hasThread_c19a55:after {
  border-color: $main-color;
}
.container__9271d {
  background-color: cv('bg.general.card');
}
.cta__9271d {
  color: $main-color;
}
.jump__5126c {
  background-color: $main-color;
  color: #fff;
  &:hover {
    background-color: $hover-color;
    color: #fff;
  }
}

// BUTTONS
.wrapper_f7ecac {
  background-color: transparent;
  .button_f7ecac {
    color: hsla(0, 0%, 100%, 0.7);
    &:hover,
    &.selected_f7ecac {
      background-color: $hover-color;
      color: #fff;
    }
  }
}

// EDITING
.operations_bab751 {
  color: hsla(0, 0%, 100%, 0.5);
  > .anchor_edefb8 {
    color: $main-color;
  }
}

// REPLYING TO HIGHLIGHT
.replying__5126c {
  background-color: hsla(0, 0%, 100%, 0.05);
  .mouse-mode.full-motion &:hover {
    background-color: hsla(0, 0%, 100%, 0.08);
  }
  &:before {
    background-color: $main-color;
  }
}

// BEGINNING DM WAVE
.compactButton__7ff28,
.compactButtonDisabled__7ff28 {
  background-color: $main-color;
}
.compactButton__7ff28:hover {
  background-color: $hover-color;
}

// PUBLISH TO FOLLOWERS
.bumpBox_cacd02 {
  background: cv('bg.general.card');
}
.icon_cacd02,
.tagline_cacd02 {
  color: #fff;
}
.closeIcon_cacd02,
.hidePermanently_cacd02 {
  color: hsla(0, 0%, 100%, 0.4) !important;
}

// AUTOMOD MESSAGE
.embedCard__44492,
.footerContainer__44492 {
  background-color: cv('bg.general.card');
}
.embedCard__44492 {
  &.selected__44492 {
    background-color: cv('bg.general.card');
  }
}
.footerAction__44492 {
  .text-xs\/normal_cf4812 {
    color: $main-color !important;
  }
}
.footerIcon__44492 path {
  fill: $main-color;
}

// free nitro trial...idk where to put this - Snow
.tile_ff4e03 {
  background: cv('bg.general.card');
  box-shadow: none;
  .theme-dark &:hover {
    background-color: cv('bg.general.card');
  }
}
