@use '../index' as *;
/* POLL */
.container__0be77 {
  background: rgba(0, 0, 0, calc($bg-shading * 0.4));
}
.answerInner__4c520 {
  background-color: hsla(0, 0%, 100%, 0.07);
}
.answer__4c520 {
  .answerInner__4c520.currentlyVoting__4c520.selected__4c520 {
    outline: 2px solid $main-color;
  }
  &:hover .answerInner__4c520.currentlyVoting__4c520 {
    outline: 2px solid $hover-color;
  }
}
.checkbox_f4f0eb {
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  &.checkboxSelected_f4f0eb {
    background-color: transparent;
    border: 2px solid $main-color;
  }
}
.secondaryButtonPresentation__0be77 {
  background-color: $main-color;
  color: #fff;
}

// VIEW VOTES
.scroller__01c8c,
.voters__01c8c {
  background-color: transparent;
}

// CREATE POLL
.defaultTextInputWrapper__7b848 {
  background: none;
  border: none;
}
.addAnswerButton_d97f89 {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
}
.addAnswerIconDefault_d97f89 {
  color: #fff;
}
.addAnswerButtonLabel_d97f89 {
  color: #fff !important;
}

// POLL ENDED
.container_f69538 {
  background-color: cv('bg.general.card');
}
