@use '../index' as *;
/* CHANNEL CATEGORY */
.containerDefault__29444,
.containerDragAfter__29444,
.containerDragBefore__29444,
.containerUserOver__91b97 {
  padding-top: 16px;
}
.wrapper__29444 {
  padding-left: 10px;
  padding-right: 0;
  transition: all 0.3s ease-in-out;
}
.icon__29444 {
  display: none;
}
.name__29444 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-color;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
  &:before {
    content: '';
    height: 2px;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to left, $main-color 50%, transparent);
    margin-right: 5px;
  }
  &:after {
    content: '';
    height: 2px;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, $main-color 50%, transparent);
    margin-left: 5px;
  }
}

// COLLAPSED
.collapsed__29444 {
  .name__29444 {
    &:before,
    &:after {
      flex-grow: 0;
    }
  }
}

// HOVER
.wrapper__29444:hover .name__29444 {
  color: $main-color;
}
.mainContent__29444:hover .name__29444 {
  opacity: 1;
}

// MUTED
.wrapper__29444.muted__29444 {
  opacity: 0.5;
  .name__29444 {
    color: $main-color;
  }
  &:hover .name__29444 {
    color: $hover-color;
  }
}

// ADD CHANNEL ICON
.children__29444 {
  margin-left: 3px;
}
.addButtonIcon__29444 {
  color: $main-color;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $main-color;
    opacity: 1;
  }
}

// New Channel
.button__6e3f1,
.buttonIcon__6e3f1 {
  color: var(--url-color);
}
