@use '../index' as *;
/* CHANNELS */
html:not(.visual-refresh) .sidebar_c48ade:not(.hidden_c48ade) {
  width: cv('channels-width') !important;
  background: rgba(0, 0, 0, calc($bg-shading * 0.3));
}
.platform-win .sidebar_c48ade {
  border-radius: 0;
}
.theme-dark .container__2637a {
  background: transparent;
}

// CHANNELS HEADER
.clickable_f37cb1,
.selected_f37cb1 {
  .header_f37cb1 {
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
  }
}
.headerContent_f37cb1 {
  color: var(--header-primary);
  font-family: cv('font.main');
  font-weight: 600;
  text-shadow: 0 0 3px #000;
}

// GUILD BANNER
.animatedContainer_f37cb1 {
  background: transparent;
  box-shadow: none;
}
.bannerImage_f37cb1 {
  width: cv('channels-width');
  mask: linear-gradient(to bottom, #000, transparent);
}
.bannerImg_f37cb1 {
  width: cv('channels-width');
}
.spine__5b40b {
  color: $main-color;
}
.spineBorder__5b40b {
  background: $main-color;
}

// SERVER BOOST
.theme-dark .progressBarContainer_eff079 {
  background-color: cv('bg.general.card');
}

// CHANNEL CONTENT
.link__2ea32 {
  position: relative;
  transition: all 0.15s ease-in-out;
  &:before {
    content: '';
    position: absolute;
    @include stretch;
    transition: all 0.15s ease-in-out;
    z-index: -1;
    border-radius: 4px;
  }
  &:after {
    content: '';
    position: absolute;
    @include pos(0, 100%, 0, 0);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    border-radius: 4px;
  }
}
.icon__2ea32 {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  color: var(--channel-color);
  transition: all 0.15s ease-in-out;
}
.name__2ea32 {
  color: var(--channel-color);
  transition: all 0.15s ease-in-out;
}
.children__2ea32 {
  margin-left: 1px;
  animation: cv-fade-to-3 0.15s ease-in-out;
}
.actionIcon_c69b6d {
  color: var(--channel-color);
  transition: all 0.15s ease-in-out;
  &:hover {
    color: var(--channel-hovered);
  }
}
.statusText__5cda9,
.pencilIcon__5cda9 {
  color: hsla(0, 0%, 100%, 0.7);
}
.wrapper__2ea32 {
  // HOVER
  &:hover {
    .link__2ea32 {
      background: var(--background-modifier-hover);
    }
    :is(.name__2ea32, .icon__2ea32) {
      color: var(--channel-hovered);
    }
  }
  // UNREAD
  &.modeUnreadImportant__2ea32 {
    .name__2ea32 {
      color: var(--channel-unread);
      text-shadow: 0 0 3px;
    }
    .icon__2ea32 {
      color: var(--channel-unread);
      filter: drop-shadow(0 0 3px);
    }
    &:hover {
      :is(.name__2ea32, .icon__2ea32) {
        color: var(--channel-selected);
      }
    }
  }
  // SELECTED
  &.modeSelected__2ea32 {
    :is(.name__2ea32, .icon__2ea32) {
      color: var(--channel-selected);
    }
    .link__2ea32 {
      background-color: transparent;
      &:before {
        background: hsla(0, 0%, 100%, 0.1);
      }
      &:after {
        right: 0;
        background: $main-color;
        animation: cv-channel-select 0.3s ease-in-out;
      }
    }
    .text-xs\/medium_cf4812,
    .text-xs\/normal_cf4812 {
      color: #fff !important;
    }
  }

  // CONNECTED
  &.modeConnected__2ea32 {
    .name__2ea32 {
      color: var(--channel-unread);
      text-shadow: 0 0 3px;
    }
    .icon__2ea32 {
      color: var(--channel-unread);
      filter: drop-shadow(0 0 3px);
    }
  }
  // MUTED
  &.modeMuted__2ea32 {
    :is(.name__2ea32, .icon__2ea32) {
      color: var(--channel-muted);
    }
    &:hover {
      :is(.name__2ea32, .icon__2ea32) {
        color: var(--channel-color);
      }
    }
  }
}

// UNREAD & MENTIONS INDICATION
.unread__2ea32 {
  display: none;
}

// ICONS
.live_a7acae {
  background-color: $main-color !important;
}

// USER LIMIT
.users__260e1,
.total__260e1 {
  width: 24px;
  color: hsla(0, 0%, 100%, 0.3);
  font-weight: 600;
  text-align: right;
  transition: all 0.15s ease-in-out;
}
.users__260e1 {
  padding: 0 4px 0 6px;
  background: rgba(0, 0, 0, 0.15);
}
.total__260e1 {
  padding: 0 6px 0 4px;
  background: hsla(0, 0%, 100%, 0.04);
  box-shadow: inset 1px 0 hsla(0, 0%, 100%, 0.07);
  &:after {
    display: none;
  }
}
.modeConnected__2ea32 {
  .users__260e1 {
    color: $main-color;
    text-shadow: 0 0 1px;
  }
}

// VOICE USER LIST
.listDefault__07f91 {
  padding-left: 24px;
  .clickable__07f91:hover .content__07f91 {
    background: rgba(0, 0, 0, 0.04);
  }
}

.voiceUser__07f91 {
  z-index: 1;
  .content__07f91 {
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
  }
  &:hover,
  &:active,
  &.selected__07f91 {
  }
  .avatarSpeaking__07f91 {
    position: relative;
    transition: all 0.1s ease-in-out;
    &:after {
      content: '';
      position: absolute;
      height: 1.7em;
      background: linear-gradient(to right, $main-color 10%, transparent);
      opacity: 0.5;
      transition:
        all 0.1s ease-in-out,
        width 0.15s ease-in-out;
      pointer-events: none;
      z-index: -1;
      border-radius: 999px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .avatarSpeaking__07f91 {
    box-shadow:
      0 0 0 2px $main-color,
      inset 0 0 3px rgba(0, 0, 0, 0.5);
    &:after {
      @include pos($top: -2px, $bottom: -2px);
      width: 150px;
    }
  }
  .username__07f91 {
    color: hsla(0, 0%, 100%, 0.5);
    transition: all 0.1s ease-in-out;
  }
  .usernameSpeaking__07f91 {
    color: #fff !important;
  }
}
.voiceChannelsButton__29444 {
  border: 1px solid $main-color;
  &:hover {
    background: $hover-color;
    border: 1px solid $hover-color;
    transition: ease-in-out 0.15s;
  }
}

// USER SUMMARY
.icon__183c2 {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  color: hsla(0, 0%, 100%, 0.3);
}
.moreUsers__183c2 {
  padding: 0 4px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

// DRAG INDICATORS
.containerDragAfter__29444,
.containerDragBefore__29444,
.containerDragAfter_c69b6d,
.containerDragBefore_c69b6d {
  &:before,
  &:after {
    background: $main-color;
    border-radius: 0;
  }
}
.containerUserOver_c69b6d {
  &:after {
    background: $main-color;
    border-color: transparent;
    opacity: 0.1;
  }
}

// VC STREAM POPOUT
.theme-dark {
  .streamPreview__6da2d {
    background-color: cv('bg.general.popout');
  }
  .previewContainer__6da2d {
    background-color: transparent;
  }
  .watchButton__6da2d {
    border-color: $main-color;
    color: hsla(0, 0%, 100%, 0.8);
    &:not([disabled]):hover {
      border-color: $hover-color;
      color: #fff;
    }
  }
}
