@use '../index' as *;
/* CHANNEL INDICATORS */
.unread__3b95d,
.mention__3b95d {
  position: relative;
  background: transparent;
  &:after {
    content: '';
    position: absolute;
    @include stretch;
    background: $main-color;
    border-radius: 3px;
    opacity: 0.9;
    z-index: -1;
    transition: all 0.15s ease-in-out;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}
