@use '../index' as *;
/* PRIVATE CHANNELS */
.privateChannels__35e86 {
  background: transparent;
  .scroller__99e7c {
    background: transparent;
  }
}

// HEADER
.textContainer__675e5 {
  width: auto;
}
.privateChannelsHeaderContainer__99e7c {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-color;
  font-weight: 700;
  text-align: center;

  &:before,
  &:after {
    content: '';
    height: 2px;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to left, $main-color 50%, transparent);
    margin: 0 5px;
  }

  &:after {
    background: linear-gradient(to right, $main-color 50%, transparent);
  }

  &:hover {
    color: $main-color;

    &:before {
      background: linear-gradient(to left, $hover-color 50%, transparent);
    }

    &:after {
      background: linear-gradient(to right, $hover-color 50%, transparent);
    }
  }
}

// PRIVATE CHANNEL
.channel__972a0 {
  max-width: none;
}
.interactive__972a0 {
  position: relative;
  color: var(--channel-color);
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    @include stretch;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    @include pos(0, 100%, 0, 0);
    border-radius: 3px;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }
}
.linkButtonIcon__972a0,
.name__20a53 {
  font-size: 14px;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  color: #fff;
}
.text__8ac07,
.text_c9d15c {
  color: var(--channel-color) !important;
  transition: all 0.15s ease-in-out;
  strong {
    color: $alt-color;
    font-weight: 700;
    transition: all 0.15s ease-in-out;
  }
}
.interactive__972a0 {
  // HOVER
  &:hover {
    color: var(--channel-hovered);
    background: transparent;
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
    .text__8ac07,
    .text_c9d15c {
      color: var(--channel-hovered) !important;
    }
  }

  // SELECTED
  &.interactiveSelected__972a0 {
    background: transparent;
    color: var(--channel-selected);
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
    &:after {
      right: 0;
      background: $main-color;
      animation: cv-channel-select 0.3s ease-in-out;
    }
    .activityEmoji__972a0,
    .icon_c9d15c {
      filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.7));
    }
    .text__8ac07,
    .text_c9d15c {
      color: var(--channel-selected) !important;
      strong {
        color: #fff;
      }
    }
  }

  // HIGHLIGHT
  .highlighted__20a53 {
    .name__20a53 {
      color: #fff;
    }
  }
}

// CLOSE BUTTON
.closeButton__972a0 {
  color: var(--channel-color);
  opacity: 1;
  &:hover {
    color: var(--channel-hovered);
  }
}

// Activities popout
.container__9fa5a {
  background: var(--background-overlay);
}

// EMPTY PRIVATE CHANNEL
.empty__99e7c {
  fill: hsla(0, 0%, 100%, 0.15);
}

// PRIVATE CHANNELS SEARCH BAR
.searchBar__35e86 {
  .searchBarComponent__35e86 {
    background: hsla(0, 0%, 100%, 0.1);
    color: hsla(0, 0%, 100%, 0.3);
  }
}
