@use '../index' as *;
// CUSTOMIZE CHANNELS
.header__0b563 {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.6)) !important;
}
.container__0b563 {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.5)) !important;
}
.tabBar__0b563 {
  border-bottom: none;
}
.prompt__5d7c9 {
  background: cv('bg.general.card');
}
.selectValuePill__05934 {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid $main-color;
}
.optionButtonWrapper__270d7 {
  border: 2px solid $main-color;
  &:hover {
    border: 2px solid $hover-color;
  }
  &.selected__270d7 {
    border: 2px solid var(--success-color);
    background: rgba(0, 0, 0, 0.2);
  }
}
/*profile card*/
.profileCard__5d7c9 {
  background: cv('bg.general.card');
}
.role__5d7c9 {
  background: hsla(0, 0%, 100%, 0.1);
}

// BROWSE CHANNELS
.pageBody__41ed7 {
  background-color: transparent;
}
.container_bc0d35 {
  background-color: cv('bg.general.card');
}
.selectAll_e4503a {
  .text-xs\/medium_cf4812 {
    color: hsla(0, 0%, 100%, 0.5) !important;
    transition: all 0.15s ease-in-out;
  }
}
.channelRow_e4503a {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.4));
  &:hover {
    &:not(.disabled_e4503a) {
      background-color: rgba(0, 0, 0, calc($bg-shading * 0.6));
    }
  }
}

// MEMBERS LIST
.mainTableContainer_dd2627,
.mainTableContainer__09a38 {
  background: cv('bg.general.card');
  box-shadow: none;
}
.newMembersNotice_acdcc0 {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
}
.button__71c22 {
  background: $main-color;
  color: #fff;
  &:hover {
    background: $hover-color;
  }
}
.otherRoles__71c22 {
  background: hsla(0, 0%, 100%, 0.1);
}

// NOT IN CHANNEL LIST
.chatHeaderBar_dc83f5 {
  background: transparent;
}
/* SERVER GUIDE */
.homeContainer__7449f {
  /*First msg*/
  .userProfileOuterThemed_c69a7b {
    background: transparent;
  }
  .userCardInner_c69a7b,
  .avatarBackground__6f212,
  .action_c66e86,
  .sidebarCardWrapper__7449f,
  .row_d13feb {
    background: rgba(0, 0, 0, calc($bg-shading * 0.4));
  }
  .action_c66e86:hover {
    background: $hover-color;
  }
  .headerIcon__553a5 {
    background: $main-color;
    border: 4px solid transparent;
  }
  .icon_f34534 {
    position: relative;
    background-clip: padding-box;
    background-color: none;
    background-position: center center;
    background-size: 100%100%;
  }
  .channelIconContainer_c66e86,
  .rulesIconContainer_c66e86 {
    background: $main-color;
    & > svg > path {
      fill: #fff;
    }
  }
  .checkCircleCompleted_c66e86 > path {
    fill: var(--success-color);
  }
}
/*Cases where we get taken to channels*/
.banner__183e8 {
  background: rgba(0, 0, 0, calc($bg-shading * 0.4));
}
.iconCircle__183e8 {
  background: $main-color;
}

/* SERVER SUBSCRIPTIONS */
.scroller__808a1 {
  background: cv('bg.general.card');
}
.tierInfoContainer__3efc4 {
  background: cv('bg.general.card');
}
.subscriptionPerks__3efc4,
.roleMessagePreview__3efc4 {
  background: rgba(0, 0, 0, 0.2);
}

/* CUSTOMIZE YOUR EXPERIENCE */
.navButtons_fe70ca {
  background: cv('bg.general.card');
}
.prompt_fe70ca,
.termsFieldBody_fe70ca {
  background: cv('bg.general.card');
}
.overlay_fe70ca {
  display: none;
}
