@use '../index' as *;
/* ADD SERVER MODAL */

// MAIN PAGE
.container_eb2cd2 {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
  .text_eb2cd2 {
    color: #fff;
  }
  .arrow_eb2cd2 {
    filter: brightness(0) invert(1);
  }
}
.optionHeader_c04f35 {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
// CREATE SERVER
.iconContainer__98cf7 > svg > circle {
  fill: $main-color;
}
.backButton_b917ac,
.backButton__78f69 {
  .contents__201d5 {
    color: hsla(0, 0%, 100%, 0.7);
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

// JOIN SERVER
html:not(.visual-refresh) .input__991a0 {
  background-color: transparent;
}
.sampleLink__991a0 {
  color: $main-color;
  font-weight: 500;
}
.rowContainer__991a0 {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
  .rowText__991a0 {
    color: #fff;
  }
  .rowArrow__991a0 {
    filter: brightness(0) invert(1);
  }
}
