@use '../index' as *;
/* EVENT MODAL */
.header_d0b769 {
  background-color: transparent;
}
.circle__710ee {
  background-color: $main-color;
}
.card__88264 {
  background-color: cv('bg.general.card');
  border: 2px solid $main-color;
  &:hover {
    background-color: cv('bg.general.card');
    border: 2px solid $hover-color;
  }
}
.newBadgeText__29021 {
  color: #fff;
}
.eventStatusContainer__29021 path {
  fill: $main-color;
}
.rsvpCount_b5010b {
  background-color: $main-color;
  .rsvpIcon_b5010b {
    color: #fff;
  }
}

// EVENT INFO
.container__4efb4 {
  .item_b3f026 {
    &:hover {
      border-bottom-color: $hover-color;
    }
    &.selected_b3f026,
    &:active {
      border-bottom-color: $main-color;
    }
  }
}
.contentContainer__4325e {
  background: transparent;
}
.circle__60626 {
  background-color: $main-color;
}

// CREATE EVENT
.progressBar__5537c {
  background-color: hsla(0, 0%, 100%, 0.3);
  &.selectedProgressBar__5537c {
    background-color: $main-color;
  }
  + .colorMuted_c9946a {
    color: hsla(0, 0%, 100%, 0.3);
  }
  + .colorBrand_c9946a {
    color: $main-color;
  }
}
.container__03b47 {
  background-color: transparent;
}
.textInput__97cfe {
  background: transparent;
}
.theme-dark .previewCard_f70348 {
  background-color: cv('bg.general.popout');
  border: 2px solid $main-color;
}
