@use '../index' as *;
/* MODAL */
.theme-dark {
  .modal__487be,
  .root__49fc1 {
    background: cv('bg.general.modal');
    box-shadow: none;
    .footer__49fc1 {
      background: transparent;
      box-shadow: none;
    }
  }
}

// IMAGE MODAL
.actionButtons_cc1819 {
  background-color: cv('bg.general.modal');
  border: 1px solid $main-color;
}

// MESSAGE DELETION CONFIRMATION
.theme-dark .message__89466 {
  background-color: transparent;
  box-shadow: 0 0 2px 2px $main-color;
}

// REPORT MESSAGE
.childButton__3ed08 {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
}

// QUICKSWITCHER
.quickswitcher_ac6cb0 {
  background-color: cv('bg.general.modal');
}
.input_ac6cb0 {
  background-color: rgba(255, 255, 255, 0.07);
}
.scroller_ac6cb0 {
  background-color: transparent;
  margin-top: 10px;
  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
}
.result__71961[aria-selected='true'] {
  background: var(--background-modifier-hover);
}
.wrapper_dc0b29 {
  background: $main-color;
}

// TIMEOUT
/*timeout duration item*/
.item__3d4a0.selectorButtonSelected__0907c {
  background: $main-color;
  border-color: $main-color;
}
.item__3d4a0:not(.selectorButtonSelected__0907c) {
  background: cv('bg.general.card');
  border-color: $main-color;
}

// BAN MODAL
.banReasonOtherClickable__837b7 {
  background-color: cv('bg.general.modal');
  border: 2px solid transparent;
  transition: all 0.15s ease-in-out;
  color: #fff;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
    color: #fff;
    border: 2px solid $hover-color;
  }
}

// SWITCH ACCOUNTS
.theme-dark .root__49fc1 {
  .authBox__921c5,
  .navRow__86e92 {
    background-color: transparent;
  }
}

// ACTIVITIES
.modalHeader__52f07,
.modalDivider__52f07 {
  background: cv('bg.general.card');
}
.activityTag__18da2 {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.5));
}
.activityItem__18da2 {
  background: cv('bg.general.card');
  border: 2px solid $main-color;
  &:hover {
    background: cv('bg.general.card');
    border: 2px solid $hover-color;
  }
  &.disabled__18da2 {
    background: cv('bg.general.card');
  }
}
.scrollTierBackground__35455 {
  background: transparent;
}

// INVITE BOT
.contentBackground__3d3b0 {
  background-color: hsla(0, 0%, 100%, 0.05);
}

// AUTH MODAL
.authorize__3d3b0 {
  background-color: transparent;
  border-radius: 5px;
  &.inApp_c5a065 {
    background-color: transparent;
  }
}
.iconWrapper_cf14a8 {
  background-color: hsla(0, 0%, 100%, 0.15);
}
.footer__3d3b0 {
  background-color: transparent;
}

// YOU MUST COMPLETE A FEW MORE STEPS BEFORE YOU CAN TALK
/*before you talk here popup*/
.modal_b962dc {
  background: transparent;
}
/*border color for terms of acceptance*/
.termsRow_d48a51 {
  border-color: $main-color;
}
/*agree to rules*/
.fieldBackground_d48a51 {
  background: var(--background-overlay);
  border-color: $main-color;
  &:hover:not(:focus) {
    border-color: $hover-color;
    background: var(--background-overlay);
  }
}

// Webhook previews
.footer__51eb2 {
  background-color: transparent;
}
.theme-dark .guildPopout__51eb2 {
  background-color: rgba(0, 0, 0, 0.8);
}
.emojiCounter__51eb2 {
  background-color: $main-color;
  color: $text-normal !important;
}
.layer_da8173:after {
  background: var(--background-overlay);
}

// INVITE FROM WEB BROWSER
.theme-dark .contentWrapper__9b0f4 {
  background: cv('bg.general.modal');
}
.pillIconOnline__921c5 {
  background-color: cv('colors.online');
}
.pillIconTotal__921c5 {
  background-color: cv('colors.offline');
}

// NITRO 1 month discount
.body__996b0 {
  background-color: cv('bg.general.modal');
}
.churnFooterContent__64988 {
  background: cv('bg.general.modal');
}
