@use '../index' as *;
/* PAYMENTS */

// SELECT NITRO TIER
.skuSelectModalHeader_e50a4d,
.skuSelectModalContent_e50a4d {
  background: transparent;
}

// PURCHASE NITRO
.modalHeader_a27f2f,
.wrapper__4106a,
.body_c6f1a4 {
  background: transparent;
}
.planOptionDiscount_b13085 {
  background-color: $main-color;
}
.table_fda3e4 {
  background-color: hsla(0, 0%, 100%, 0.07);
}
.divider_fda3e4 {
  background-color: transparent;
}
.body__89307 {
  background-color: transparent;
}
.whatYouLoseItem__89307 {
  background-color: hsla(0, 0%, 100%, 0.07);
}

// GIFT MODAL
.spinner_ca0af2 {
  background: transparent;
}
.customGiftBoxHighlighted_d50aac {
  border: 2px solid $main-color;
}

// GIFT NITRO
.modalHeaderCustomGift_b54a5b {
  background: none;
}
.selectedPlan_b13085 {
  outline: 2px solid $main-color;
}
.iconBackground__33980 {
  background-color: $main-color;
}

// GIFT SHOP ITEMS
.headerContainerGift__57a87 {
  background: none;
}
.previewContainerSelected__50f14 {
  border: 2px solid $main-color;
}
.navigateToShopButton_bf1b4a {
  background-color: $main-color;
  border-color: transparent;
  .heading-sm\/medium_cf4812 {
    color: hsla(0, 0%, 100%, 0.9) !important;
  }
}

// SERVER BOOST PAYMENT MODAL
.content_a8c622 {
  background: transparent;
}
.theme-dark .iconWrapper__96f95 {
  background: cv('bg.general.card');
  &:hover {
    background-color: $hover-color;
  }
}
.upsellFooter__5e07c {
  background: cv('bg.general.card');
}
.perksList__3bf54 {
  background: hsla(0, 0%, 100%, 0.07);
}

// CARD INFO
.cardNumberWrapper__8b579 {
  padding: 2px;
}
.cardInput__8b579 {
  background-color: hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
}
.cardInputFocused__8b579 {
  box-shadow: 0 0 2px 2px $main-color;
}
