@use '../index' as *;
/* SCREEN SHARE */
.segmentControlOption_a2de16 {
  color: hsla(0, 0%, 100%, 0.7);
  .theme-dark &.tabItemSelected__9e06a {
    color: $main-color;
    border-bottom: 2px solid $main-color;
  }
}
.tile_a2de16 {
  &:hover {
    .sourceThumbnail_a2de16 {
      box-shadow: inset 0 0 0 2px $hover-color;
    }
  }
  .sourceThumbnail_a2de16 {
    &.selected_a2de16 {
      box-shadow: inset 0 0 0 2px $main-color;
    }
  }
}
.card__4bb93 {
  background-color: hsla(0, 0%, 100%, 0.07);
  border: 2px solid hsla(0, 0%, 100%, 0.09);
}
.theme-dark {
  .selectorButton_c6d3dc {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-color: hsla(0, 0%, 100%, 0.09);
    &:before {
      background-color: transparent;
    }
    &:hover {
      background-color: $hover-color;
    }
    &.selectorButtonSelected_c6d3dc {
      background-color: $main-color;
    }
    &.premiumUpsell_c6d3dc {
      &:hover {
        background-color: #c269c3;
        .enhancedSelectorNitroText_c6d3dc {
          color: #fff;
        }
      }
    }
  }
}
.enhancedBanner__39bd2 {
  background: transparent;
}

// CLIPS
.containerEnabled__81977 {
  background: cv('bg.general.popout');
}

.channelRow__1db97 {
  background: cv('bg.general.card');
  &:hover {
    background: $hover-color;
    opacity: 0.8;
  }
}
.upload_aa605f.sizeClip_aa605f {
  background-color: transparent;
}
.gameIcon_b52e4f {
  color: $main-color;
}
.text-md-semibold__8664f {
  color: #fff !important; //Important needed because discord used element style - Snow
}
.clipForm__54978 {
  background: transparent;
}
.root_a77292 {
  background: transparent;
}
.root_f90ef0 {
  background: transparent;
}
.userCountPill_f90ef0 {
  background-color: rgba(0, 0, 0, 0.8);
}
.timePillBackground__10841 {
  background-color: $main-color;
}
.playPauseButtonWrapper__10841 {
  background-color: rgba(0, 0, 0, 0.8);
}
.dragHandle__10841 {
  background-color: $main-color;
}
.container_b9f75c {
  background: rgba(0, 0, 0, 0.8);
}
