@use '../index' as *;
/* THREAD MODAL */
.modal__9a792 {
  background-color: cv('bg.general.modal') !important;
  .container_d9c882 {
    background-color: transparent;
  }
}


.container__6764b {
  background-color: hsla(0, 0%, 0%, 0.3);
  border: 2px solid $main-color;
  &:hover {
    border: 2px solid $hover-color;
  }
}
