@use '../index' as *;
/* GAME LIBRARY */

// BODY
.scroller__4a84a {
  background: transparent;
}
.header_adb41f {
  background-color: transparent;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
  > .headerCell_adb41f {
    border-left-color: hsla(0, 0%, 100%, 0.07);
    color: hsla(0, 0%, 100%, 0.3);
    transition: all 0.3s ease-in-out;
    &:hover {
      &:not(.headerCellSorted_adb41f) {
        color: hsla(0, 0%, 100%, 0.5);
      }
    }
  }
  > .headerCellSorted_adb41f {
    color: hsla(0, 0%, 100%, 0.7);
  }
}
.rowWrapper_adb41f {
  background-color: transparent;
  border-radius: 0;
  transition: all 0.15s ease-in-out;
  &,
  &:hover {
    margin: 0 20px;
    padding: 0;
    + .rowWrapper_adb41f {
      > .row_adb41f {
        margin-top: -1px;
        border-top: 1px solid hsla(0, 0%, 100%, 0.04);
      }
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.row_adb41f {
  margin: 0;
  color: hsla(0, 0%, 100%, 0.7);
  .actionsCell_adb41f {
    .button__201d5 {
      background-color: hsla(0, 0%, 100%, 0.07);
      color: hsla(0, 0%, 100%, 0.7);
      transition: all 0.15s ease-in-out;
    }
    &:hover {
      .button__201d5:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
  }
}
.textCell_adb41f {
  color: hsla(0, 0%, 100%, 0.5);
}
.lastPlayedCellNew_adb41f {
  color: $main-color;
}
.settingIcon_adb41f {
  color: #fff;
  opacity: 0.5;
  transition: all 0.15s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.rowWrapperDim_adb41f {
  .nameBodyCell_adb41f,
  .textCell_adb41f,
  .settingIcon_adb41f {
    transition: all 0.15s ease-in-out;
  }
}
.gameUpdates__49035 {
  background-color: rgba(0, 0, 0, 0.6);
}

// SETTINGS
.scroller_fb04e1 {
  background: transparent;
}
.theme-dark {
  .installationPath_a6f654 {
    box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0.06);
  }
  .background__27106 {
    stroke: hsla(0, 0%, 0%, 0.6);
  }
  .foreground__27106 {
    stroke: $main-color;
  }
  .defaultIndicator_a6f654 {
    background-color: $main-color;
  }
}
