@use '../index' as *;
/* NITRO */
.applicationStore_f07d62 {
  background-color: transparent;
}
.scroller_c880e8,
.mainPageScroller_ca1a02 {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.5));
  right: 0%;
  transition: all 0.5s ease-in-out;
  &:has(+ .allPerksScroller_ca1a02.open_ca1a02) {
    right: 100%;
  }
}
.card_f8e6bf {
  background-color: cv('bg.general.card');
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
}
.seeAllPerksButton_ca1a02 {
  background-color: hsla(0, 0%, 0%, 0.6);
}
.giftNitro_ca1a02 {
  background-color: cv('bg.general.card');
}
.theme-dark .textContainer_da4aee {
  background-image: none;
}
.innerWrapperV1__70f7f {
  background-color: hsla(0, 0%, 0%, 0.8);
}

// PERKS PAGE
.allPerksScroller_ca1a02 {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.6));
  transition: all 0.5s ease-in-out;
}
.backButton_b9abc5 {
  background-color: hsla(0, 0%, 0%, 0.6);
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.8);
  }
}
.theme-dark {
  .leftArrow__3cf14,
  .rightArrow__3cf14 {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
}
.arrowIcon__3cf14 {
  fill: hsla(0, 0%, 100%, 0.7);
}
.theme-dark .inactiveArrow__3cf14 {
  background-color: cv('bg.general.card');
  .arrowIcon__3cf14 {
    fill: hsla(0, 0%, 100%, 0.3);
  }
}
.cardProgressBar__3cf14 {
  background-color: hsla(0, 0%, 0%, 0.6);
}
.dot__3cf14 {
  background-color: hsla(0, 0%, 100%, 0.5);
}
.selectedDot__3cf14 {
  background-color: #fff;
}
