@use '../index' as *;
// POPOUT BUTTON
.button_e6e74f {
  background-color: cv('bg.general.popout');
  border-radius: 8px;
  height: 48px;
  width: 48px;
}

// BACKGROUND
.contentWrapper__9c62c {
  background-color: cv('bg.general.popout');
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: none;
}
.container__927fc {
  background-color: transparent;
}

// ITEM
.container_ccbbbb {
  background-color: transparent;
}
.container_cb32c7 {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  &:hover,
  &:active {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  &.rowContainer_cb32c7 {
    background-color: transparent;
    &:hover,
    &:active {
      background-color: hsla(0, 0%, 100%, 0.07);
      border-radius: 3px;
    }
  }
}
.rowDivider_cb32c7 {
  right: 4px;
}
.viewMore__32c75 {
  .text-md\/medium_cf4812 {
    color: $main-color !important;
  }
}

// APP DETAILS
.container__7bdb0 {
  background-color: transparent;
}
.clickable__8c853 {
  background-color: hsla(0, 0%, 0%, 0.3);
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.5);
  }
}
.stickyBanner__57d3f {
  visibility: hidden;
}
.bannerBackground__57d3f {
  mask: linear-gradient(to bottom, #000, transparent);
}
.appIcon__7bdb0 {
  background-color: hsla(0, 0%, 0%, 0.3);
  border-color: transparent;
}
.overviewContainerNoVideo__95856,
.overviewContainerWithVideo__95856 {
  background-color: transparent;
}
.expandableDescriptionClickable__95856 {
  .text-sm\/semibold_cf4812 {
    color: $main-color !important;
  }
  path {
    fill: $main-color;
  }
}

// BOT APP DETAILS
.sortDropdown__27f60 {
  background-color: transparent;
}
.commandContainer_c94584 {
  background-color: transparent;
}
.command_c94584 {
  background-color: transparent;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
}
.tagContainer__95856 {
  background-color: $main-color;
  path {
    fill: #fff;
  }
  .text-sm\/semibold_cf4812 {
    color: #fff;
  }
}

// LEARN MORE
.container__19cf2 {
  background-color: transparent;
}

// SEARCH
.clickable__761e5 {
  background-color: transparent;
  &:hover,
  &:active {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 3px;
  }
}
.underline__761e5 {
  right: 4px;
}
