@use '../index' as *;
/* CONNECTION INFO POPOUT */
.container__50387 {
  background-color: cv('bg.general.popout');
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.popoutText_effb26 {
  > strong {
    color: $main-color;
  }
  &.popoutTextDetails_effb26 {
    color: hsla(0, 0%, 100%, 0.5);
  }
}
