@use '../index' as *;
/* EMOJI PICKER */
.drawerSizingWrapper__08434 {
  min-width: 430px;
}
.contentWrapper__08434 {
  background-color: cv('bg.general.popout');
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
// NAV BAR
.navButtonActive__08434 {
  background-color: $main-color;
}
.header_c0e32c {
  background-color: cv('bg.general.popout');
}
.emojiPicker_c0e32c {
  background-color: cv('bg.general.popout');
  min-width: 430px;
  border-radius: 0;
  .header_c0e32c {
    background: transparent;
  }
}

// SEARCH BAR
.searchBar_c0e32c {
  background-color: hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  margin-top: 2px;
  &:focus-within {
    box-shadow: 0 0 2px 2px $main-color;
    transition: all 0.15s ease-in-out;
    .input_fea832 {
      color: #fff;
      &::placeholder {
        color: hsla(0, 0%, 100%, 0.3);
      }
    }
  }
}

// SUPER REACTION BUTTON
.label__0d242 {
  background-color: transparent;
}

// DIVERSITY SELECTOR
.diversitySelectorOptions_a45a2a {
  border: none;
  padding: 2px;
  background-color: hsla(0, 0%, 0%, 0.8);
  .diversityEmojiItem_a45a2a {
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.07);
    }
  }
}

// EMOJI ITEM
.wrapper__14245 {
  background-color: transparent;
  .header__14245 {
    color: #fff;
  }
}
.emojiItem_fc7141 {
  border-radius: 3px;
  transition:
    all 0.15s ease-in-out,
    filter 0s;
  &.emojiItemSelected_fc7141 {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  &.emojiItemDisabled__843ea {
    filter: grayscale(1);
  }
}
.imageLoading__1859b {
  .theme-dark & {
    background-image: none;
  }
}
.inspector_aeaaeb {
  background-color: transparent;
}

// CATEGORIES
.categoryList_c0e32c,
.wrapper__4e6ce {
  background-color: transparent;
}
.categoryItem_b9ee0c {
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 4px;
  }
  &.categoryItemDefaultCategorySelected_b9ee0c {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 4px;
  }
}
.categoryIcon_b9ee0c {
  color: hsla(0, 0%, 100%, 0.7);
  .categoryItemDefaultCategorySelected_b9ee0c & {
    color: #fff;
  }
}
.guildIcon__0fa6d {
  background-color: transparent;
}
.unicodeShortcut_b9ee0c {
  background-color: $main-color;
  svg {
    color: hsla(0, 0%, 100%, 0.9);
  }
  &:hover {
    background-color: $hover-color;
    svg {
      color: #fff;
    }
  }
}

// NO NITRO
.premiumPromo__3a1b6 {
  background-color: hsla(0, 0%, 0%, 0.9);
}
.premiumPromoClose__3a1b6 {
  filter: brightness(0) invert(1);
  opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
}
.premiumPromoTitle__3a1b6 {
  color: #fff;
}
.upsell_ac65bb {
  background-color: transparent;
}
.categoryItemLockIconContainer__0fa6d {
  background: $main-color;
  border-color: $main-color;
}
.upsellContainer_a3bc57 {
  background: var(--background-overlay);
  border: 2px solid $main-color;
}
// NITRO EXPIRING NOTICE
.premiumRetentionNotice_a606ef {
  background-color: hsla(0, 0%, 100%, 0.1);
}
