@use '../index' as *;
/* GIF PICKER */
.container_fed6d3 {
  background-color: transparent;
}

// HEADER
.header_fed6d3 {
  background-color: transparent;
}
.searchBar_fed6d3 {
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.09);
  margin-top: 2px;
  &:focus-within {
    box-shadow: 0 0 2px 2px $main-color;
    transition: all 0.15s ease-in-out;
  }
}
.input_a45028::placeholder {
  color: hsla(0, 0%, 100%, 0.3);
}

.content_fed6d3 {
  // CATEGORIES
  .categoryFade_d02962,
  .categoryFadeBlurple_d02962 {
    transition: all 0.15s ease-in-out;
  }
  .categoryFade_d02962 {
    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }
  .categoryFadeBlurple_d02962 {
    background: transparent;
    &:hover {
      background: transparent;
    }
    &:after {
      content: '';
      position: absolute;
      @include pos(-1px, -1px, -1px, -1px);
      display: block;
      background: $main-color;
      border-radius: 4px;
      opacity: 0.7;
    }
  }
  .categoryText_d02962 {
    color: #fff;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.7));
  }
}

// RESULTS
.result__2dc39 {
  &:after {
    transition: all 0.15s ease-in-out;
  }
  &:hover {
    &:after {
      box-shadow:
        inset 0 0 0 2px $main-color,
        inset 0 0 0 3px rgba(0, 0, 0, 0.3);
    }
  }
}
.gifFavoriteButton__43deb {
  background-color: hsla(0, 0%, 0%, 0.6);
}

// ARROW KEY FOCUS SELECTION OUTLINE
.result__2dc39[data-focused='true'] {
  box-shadow: 0 0 0 2px cv('colors.focus');
}

// HINT CARD
.emptyHintCard__2dc39 {
  background: hsla(0, 0%, 100%, 0.04);
  color: hsla(0, 0%, 100%, 0.5);
}

// END CONTAINER
.endContainer__2dc39 {
  &:after {
    filter: grayscale(1) brightness(0.7);
    opacity: 0.3;
  }
}

//Search Suggestion
.searchSuggestion_e94b8c {
  background: hsla(0, 0%, 100%, 0.04);
}
