@use '../index' as *;
/* Region Selector */

.theme-dark .regionSelectPopout__5621e {
  background-color: cv('bg.general.popout');

  .quickSelectPopoutOption_ebaca5 {
    background-color: transparent;
    border: none;
    //box-shadow: 0 0 0 2px rgba(255,255,255,0.07);
    &.selected {
      background-color: $main-color;
    }
    &:hover {
      //box-shadow: 0 0 2px 2px $hover-color;
      background-color: $hover-color;
    }

    .regionSelectName__5621e {
      color: #fff;
    }
  }
}
