@use '../index' as *;
/* STICKERS */

// SEARCH
.container_fea832 {
  background-color: hsla(0, 0%, 100%, 0.07);
  border: none;
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  margin-top: 2px;
  &:focus-within {
    box-shadow: 0 0 2px 2px $main-color;
    transition: all 0.15s ease-in-out;
  }
  .input_fea832 {
    color: #fff;
    &::placeholder {
      color: hsla(0, 0%, 100%, 0.3);
    }
  }
}

// CATEGORY
.stickerCategoryGeneric__3ad28 {
  color: hsla(0, 0%, 100%, 0.7);
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 4px;
  }
}
.stickerCategoryGenericSelected__3ad28,
.stickerCategoryGenericSelected__3ad28:hover {
  background-color: $main-color;
  color: #fff;
}

// PICKER
.row_c6367b {
  column-gap: 8px !important;
}
.stickerInspected_c6367b .inspectedIndicator_c6367b {
  background-color: $main-color;
}

// SUGGESTION
.theme-dark .containerBackground_d4ced7 {
  opacity: 1;
  background-color: hsla(0, 0%, 0%, 0.8);
  border: none;
}

.maskBackground_d4ced7 {
  background: $hover-color;
}
