@use '../index' as *;
//Voice Channel listening to or playing x game
.container__4e30a {
  background: cv('bg.general.popout');
}
.container_b1bfd4 {
  background: $main-color;
  > svg {
    color: #fff;
  }
}
