@use '../../index' as *;
.vc-addon-card {
  background: var(--background-overlay);
  border: 2px solid $main-color;
  &:hover {
    background: var(--background-overlay);
    border: 2px solid $hover-color;
  }
}
.vc-plugins-info-button svg:not(:hover, :focus) {
  color: #fff;
}

//update popup
.vc-notification-root {
  background-color: var(--background-overlay);
  &:hover {
    background-color: $hover-color;
  }
}

// plugin authors
.vc-author-modal-name {
  background: cv('bg.general.card');
}

.vc-author-modal-name:before {
  background: cv('bg.general.card');
}
// vencord quick action pills
.vc-settings-quickActions-pill {
  background: cv('bg.general.card');
  color: $text-normal;
  border: 1px solid $main-color;
  transition: all 0.5s ease-in-out;
}
.vc-settings-quickActions-pill:hover {
  background: $hover-color;
  color: $text-normal;
  border: transparent;
}

// playground tools (eg text playground, nameplate, etc)

// Revenue Storybook
.section_cc79ae {
  background-color: cv('bg.general.card');
}

// Design Systems
.section__6fdb8 {
  background-color: cv('bg.general.card');
}

// Testing hyperlink button
.primary_a995b9 {
  color: var(--url-color);
  transition: color 0.5s ease-in-out;
  &:hover {
    color: $hover-color;
  }
}

// testing button with delete
.button__2723e {
  color: $main-color;
  transition: color 0.5s ease-in-out;
  &:hover {
    color: $hover-color;
  }
}

// text playground
.fullscreen_f8dc05 {
  background-color: cv('bg.backdrop.overlay');
}

// Name Plates tool
.preview_f9e1d5 {
  background: cv('bg.general.card');
}

// border color input
.inputs_f9e1d5 {
  background: rgba(0, 0, 0, 0.6);
}
