@use '../index' as *;
/* SEARCH */
.content_f75fb0 .searchResultsWrap_a9e706 {
  background-color: rgba(0, 0, 0, 0.6);
}
.searchResultsWrap_a9e706 {
  // HEADER
  > .searchHeader_f3b986 {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  // RESULT
  .searchResult__02a39 {
    padding-bottom: 10px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.04);
    background-color: transparent;
    &:before,
    &:after {
      display: none;
    }
    + .searchResult__02a39 {
      margin-top: -1px;
    }
  }
  .button__02a39 {
    background-color: hsla(0, 0%, 100%, 0.04);
    color: hsla(0, 0%, 100%, 0.5);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $main-color;
      color: #fff;
      transition-duration: 0.15s;
    }
  }
  .highlight {
    position: relative;
    padding: 0 2px;
    background-color: $hover-color;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0 0 3px;
  }
}

// Search results, a blocked user was hidden from your results
.resultsBlocked_c68065 {
  background-color: transparent;
  border: none;
}
