/* BOT TAG */
.botTag__82f07 {
  padding: 1px 2px;
  background: hsla(0, 0%, 100%, 0.1);
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 700;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.botTagInvert__82f07 {
  padding: 2px 3px;
  background: rgba(0, 0, 0, 0.3);
  color: hsla(0, 0%, 100%, 0.8);
}
.member__5d473 {
  .botTag__82f07 {
    transition: all 0.15s ease-in-out;
  }
}
