@use '../index' as *;
/* DISCOVER */
.scroller__23746 {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.4));
}
.backdrop__8a7fc {
  background-color: rgba($color: #0c1522, $alpha: 0.7);
  backdrop-filter: blur(5px);
}
.selected__65d41 {
  border-bottom-color: $main-color !important;
}

// SIDEBAR
.container__551b0 {
  background-color: transparent;
}
.navItem__551b0 {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    @include stretch;
    transition: all 0.15s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  &:after {
    content: '';
    position: absolute;
    @include pos(0, 100%, 0, 0);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  &:hover {
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
  }
  &.selected__551b0 {
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
    &:after {
      right: 0;
      background: $main-color;
      animation: cv-channel-select 0.3s ease-in-out;
    }
  }
  &:is(.selected__551b0, :hover, :active) {
    background-color: transparent;
  }
}

// GUILD LIST
.theme-dark {
  :is(.card__84e3e, .container_a76561, .iconMask__4cb8a) {
    background-color: cv('bg.general.card');
    transition: all 0.15s ease-in-out;
    &:hover,
    &:hover .iconMask__4cb8a {
      background-color: hsla(0, 0%, 0%, 0.6);
    }
  }
}
.loading_e90879 {
  background-color: transparent;
}
.guildList_c8c448 {
  .spinner__0b5bb {
    background-color: hsla(0, 0%, 0%, 0.8);
  }
}
.presenceCountDot__4cb8a {
  background-color: cv('colors.online');
}
.memberCountDot__4cb8a {
  background-color: cv('colors.offline');
}
.spinner__0b5bb {
  background-color: cv('bg.general.card');
}

// SEARCH RESULTS
.headerBar__8a7fc {
  background: rgba(0, 0, 0, calc($bg-shading * 0.6));
  box-shadow: 0 0 10px rgba(0, 0, 0, calc($bg-shading * 0.6));
}
.search_f69601,
.container_cbd375 {
  background: rgba(0, 0, 0, calc($bg-shading * 0.5));
}
.iconButton__8a7fc {
  background-color: $main-color;
  &:hover {
    background-color: $hover-color;
  }
}
.container__74f3e {
  background-color: transparent;
}
.category_fe77d6 {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    @include stretch;
    transition: all 0.15s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  &:after {
    content: '';
    position: absolute;
    @include pos(0, 100%, 0, 0);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  &:hover {
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
  }
  &.selected_fe77d6 {
    &:before {
      background: hsla(0, 0%, 100%, 0.1);
    }
    &:after {
      right: 0;
      background: $main-color;
      animation: cv-channel-select 0.3s ease-in-out;
    }
  }
  .text-sm\/normal_cf4812 {
    color: hsla(0, 0%, 100%, 0.7) !important;
  }
}

// QUESTS
.container_cec934 {
  background-color: cv('bg.general.card');
}
.darkThemeGradient_b5b7aa {
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.9) 10%, hsla(0, 0%, 0%, 0.6) 25%, transparent 35%);
}
.container__956c6 {
  background-color: transparent;
}
.questName__956c6 {
  color: $main-color !important;
}

// APPS
.theme-dark .avatar_f215b9 {
  background-color: cv('bg.general.card');
  border-color: transparent;
}
.card__84e3e .avatar_f215b9 {
  background-color: hsla(0, 0%, 0%, 0.6);
  border-color: transparent;
}
.avatar_efaad4 {
  background-color: cv('bg.general.card');
  border-color: transparent;
}
.category_ed45d7 {
  background-color: hsla(0, 0%, 100%, 0.1);
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.15);
  }
}
.card_c59071,
.contentContainer_c6b177,
.commandName_c6b177,
.list__83c7c,
.contentContainer__8f46b {
  background: cv('bg.general.card');
  border: none;
}
.appContainer__5a4b6 {
  background: cv('bg.general.card');
  border: none;
  &:focus,
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
}
