@use '../index' as *;
/* FORUMS */
// main container
.theme-dark .container_f369db {
  background: rgba(0, 0, 0, calc($bg-shading * 0.3));
}
// HEADER
.header_f369db {
  background-color: transparent;
}

// SEARCH
.title_d9be46 {
  font-family: var(--main-font);
  font-weight: 300;
  padding: 0 5px 0 5px;
  border-radius: 4px;
}
.matchingPostsRow_f369db {
  background-color: rgba(0, 0, 0, 0.3);
}

// NEW POST
.uploadInput__94439 {
  background: $main-color;
  transition: all 0.15s ease-in-out;
  &:hover {
    background: $hover-color;
    transition: all 0.15s ease-in-out;
  }
}
.uploadIcon__94439 {
  color: #fff;
}

// BE THE FIRST TO START A CONVERSATION
.icon__93db4 {
  background: $main-color;
  color: #fff;
}

// GET STARTED
.container_a68543 {
  background-color: cv('bg.general.card');
}
.stepContainer_a68543 {
  background-color: hsla(0, 0%, 100%, 0.07);
  border: 2px solid $main-color;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.09);
    border: 2px solid $hover-color;
  }
}
.stepStatus_a68543 {
  background-color: transparent !important;
}

// GALLERY VIEW
.container__9a337 {
  background: rgba(0, 0, 0, calc($bg-shading * 0.3));
  border: 2px solid $main-color;
  &:hover {
    background: rgba(0, 0, 0, calc($bg-shading * 0.3));
    border: 2px solid $hover-color;
  }
  &.isOpen__9a337 {
    background: hsla(0, 0%, 0%, 0.3);
    border: 2px solid var(--success-color);
  }
}
.contentPreview__9a337 {
  background-color: hsla(0, 0%, 100%, 0.05);
  border-color: hsla(0, 0%, 100%, 0.09);
}

// LIST VIEW
.theme-dark {
  .container_faa96b,
  .increasedActivityMainCard_e53744 {
    background: hsla(0, 0%, 0%, 0.3);
    border: 2px solid $main-color;
    &:hover {
      background: hsla(0, 0%, 0%, 0.3);
      border: 2px solid $hover-color;
    }
    &.isOpen_faa96b {
      background: hsla(0, 0%, 0%, 0.3);
      border: 2px solid var(--success-color);
    }
  }
}
.postTitleText_faa96b {
  color: rgba(255, 255, 255, 0.7) !important;
}

.archivedDivider_f369db {
  color: #fff;
}

.contents_c19a55,
.messageContent_c19a55,
.messageContent_faa96b {
  color: #fff;
}

// fix the increased view's new reply feature
.replies__1b03e {
  background-color: hsla(0, 0%, 100%, 0.05);
  border-color: 2px solid $main-color;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.05);
    border-color: 2px solid $hover-color;
  }
}

// SHARED
.pinIcon__08166 {
  background-color: $main-color;
}
.loadingCard_f369db {
  background: hsla(0, 0%, 0%, 0.3);
}

// TAGS
.theme-dark .pill_a2c9e8,
.theme-dark .increasedActivityPill__2620e {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid $main-color;
  &.clickable_a2c9e8:not(.disabled_a2c9e8):hover {
    background: transparent;
    border: 2px solid $hover-color;
  }
  &.selected_a2c9e8 {
    border: 2px solid var(--success-color);
  }
}
.theme-dark .increasedActivityPill__2620e {
  border-radius: 20px;
  height: 32px;
  width: fit-content;
  text-align: center;
  padding: 0 10px;
}
// typing animation & message count
/*icon*/
.messageCountIcon_faa96b > svg {
  color: var(--channel-color);
}
/*post unread, message count, old*/
/*important needed for inline*/
.newMessageCount_faa96b {
  color: $main-color !important;
}
/* the !important is technically not needed but saves a rule
 in %forumListContainer%forumListOpen %Dots, 
 which creates an overriding inline rule*/
%forumGalleryTypingDots, /*old forums*/
.dots_faa96b {
  /*new forums*/
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid $main-color !important;
}

// tag box etc
.container__5808f {
  background: rgba(0, 0, 0, 0.7);
  .countContainer__5808f {
    background-color: $main-color;
  }
  .clear__5808f {
    color: $main-color;
    &:hover {
      color: $hover-color;
    }
  }
}
.countContainer_f369db {
  background: $main-color;
}
.sortDropdown_f369db {
  background-color: $main-color;
  .sortDropdownInner_f369db,
  .sortDropdownText_f369db {
    color: #fff !important;
  }
}
.container_f8b2d2 {
  background-color: transparent;
}
.tagsButton_f369db {
  background-color: rgba(0, 0, 0, 0.3);
  .tagsButtonInner_f369db {
    color: #fff;
  }
}
.theme-dark .textContentFooter__9a337 {
  background: transparent;
}

// GUIDELINES
.container_ca49a1 {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid $main-color;
  .descriptionContainer_ca49a1 {
    background: rgba(0, 0, 0, 0.3);
  }
  .gradient_ca49a1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
  }
  .linkContainer_ca49a1 {
    background: rgba(0, 0, 0, 0.8);
  }
}
.showMoreText_ca49a1 {
  color: $main-color !important;
}

// CHAT
.container__01ae2 {
  background: transparent;
  &.floating__01ae2 {
    background-color: hsla(0, 0%, 0%, 0.6);
    border-color: hsla(0, 0%, 100%, 0.07);
  }
}
.iconWrapper__7e6bb {
  background: $main-color;
}
.icon__7e6bb path {
  fill: #fff;
}
.container__34c2c,
.divider_ee23ac,
.box_ee23ac {
  background-color: rgba(0, 0, 0, 0.4);
}
.box_ee23ac:after {
  border-color: transparent;
}
.buttonInner__34c2c {
  background-color: hsla(0, 0%, 100%, 0.05);
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    border-color: hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
  &.active__34c2c {
    color: $main-color;
    &:hover {
      color: $hover-color;
    }
  }
}

// admin/creation
.theme-dark .staticToolbar_bba883 {
  background: hsla(0, 0%, 0%, 0.6);
  > .channelTextArea__74017 {
    border-radius: 0 0 8px 8px;
  }
}
.addTags__3f6df {
  background: $main-color;
}

// EMPTY FORUM
.container__93db4 {
  background-color: transparent;
}
.cta__93db4 {
  color: $main-color;
  .theme-dark &:hover {
    color: $hover-color;
  }
}

// EXAMPLE
.container_ee8e87,
.previewContainer_ee8e87 {
  background-color: transparent;
}
.tag_ee8e87,
.post_ee8e87,
.preview_ee8e87 {
  background-color: hsla(0, 0%, 100%, 0.09);
}
.forumPostIcon_ee8e87,
.bottomSeparator_ee8e87 {
  background-color: transparent;
}
.chatInput_ee8e87 {
  background-color: cv('bg.general.card');
}

// new posts button
.newPostsButton_f369db {
  background: cv('bg.general.card');
  border: 2px solid $main-color;
  .text-md\/medium_cf4812 {
    color: $main-color !important;
  }
}
