/* LOGIN PAGE */
.theme-dark .authBox__921c5 {
  background-color: hsla(0, 0%, 0%, 0.8);
  a {
    color: var(--url-color);
  }
}
.list__920b8 {
  background-color: hsla(0, 0%, 100%, 0.07);
}
.startOverButton_e16417 {
  color: var(--url-color);
}
.container_deee3a {
  background-color: transparent;
}
