@use '../index' as *;
/* SERVER BOOST */
.scroller__6fd0e {
  background-color: transparent;
}
.tierCardNewFeatureBadge_be48d0 {
  color: #fff;
}
.headerWave__1dfae {
  color: rgba(0, 0, 0, 0.6);
}
.bodyWave__1dfae {
  display: none;
}
.topPerksCard__3add8,
.card__4d7bb,
.wrapper__5b98e {
  background-color: cv('bg.general.card');
}
.innerWrapper_b4589b {
  background-color: cv('bg.general.popout');
}
.guildIcon_b4589b {
  background-color: transparent;
}
