@use '../index' as *;
/* STUDENT HUBS */
.base_c48ade {
  .pageContainer__09fde {
    background: rgba(0, 0, 0, calc($bg-shading * 0.5));
  }
}

// HUB SIDEBAR
.optionItem__7394f {
  &.selected__91a9d {
    .layout__91a9d {
      background-color: $main-color;
    }
  }
}
.avatar__30fd0 > svg > path {
  fill: var(--interactive-active);
}

// SERVER LIST
.tabBar_a7218d {
  margin-bottom: 0;
}
.card__0c0bf {
  background-color: cv('bg.general.card');
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
  .iconMask__0c0bf {
    background-color: cv('bg.general.card');
    transition: all 0.15s ease-in-out;
  }
  .icon__0c0bf {
    background-color: $main-color;
    color: #fff;
  }
}
.splash__0c0bf {
  background: transparent;
}

// SEARCH BOX
.headerContent_a7218d {
}
.searchHeader__83bd4 {
}
