@use '../index' as *;
/* APP NOTICE */

.notice__6e2b9 {
  border-radius: 3px;
  &.colorDefault__438d3 {
    background: rgba(#43b581, 0.6);
  }
  &.colorDanger__5d2e7 {
    background: rgba(#f04747, 0.6);
  }
  &.colorStreamerMode__6e2b9 {
    background: rgba(cv('const:colors.twitch-purple'), 0.6);
  }
  .textLink__9671b {
    color: #fff;
  }
  &.notice__30f28 {
    background: rgba(0, 0, 0, 0.6);
  }
}
