@use '../index' as *;
/* MEMBERS */
.container_c8ffbb {
  background-color: transparent;
}
.membersWrap_c8ffbb {
  min-width: auto;
  min-height: 100%;
  flex-basis: cv('members-width');
}
.members_c8ffbb {
  width: cv('members-width');
  background: rgba(0, 0, 0, calc($bg-shading * 0.6));
}
.membersListNotices__0bcb6 {
  width: cv('members-width');
}

// GROUP
.membersGroup_c8ffbb {
  padding-top: 20px;
  display: flex;
  align-items: center;
  color: $main-color;
  font-size: 11px;
  font-weight: 700;
  transition: all 0.15s ease-in-out;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
  &:before {
    content: '';
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to left, currentColor 50%, transparent);
    margin-right: 5px;
  }
  &:after {
    content: '';
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to right, currentColor 50%, transparent);
    margin-left: 5px;
  }
}

// MEMBER
.member__5d473 {
  max-width: calc(var(--members-width) - 16px);
  background: transparent;
  backface-visibility: hidden;
  &.offline__5d473 {
    .avatar__91a9d {
      filter: grayscale(100%) blur(1px);
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      .avatar__91a9d {
        filter: none;
      }
    }
  }
}
.memberInner__5d473 {
  position: relative;
  padding: 0 16px 0 8px;
  width: unset;
  transition:
    all 0.15s ease-in-out,
    transform 0.1s ease-in-out;
  z-index: 1;
  &:active {
    transform: scale(0.9);
  }
}
.username__703b9 {
  max-width: 100%;
  overflow: visible;
  transition: all 0.15s ease-in-out;
  &:before {
    content: '';
    position: absolute;
    @include stretch;
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.07) 90%, transparent);
    border-radius: 3px;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    @include pos(0, 100%, 0, 0);
    background: linear-gradient(to right, $main-color 90%, transparent);
    border-radius: 3px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }
  &[style^='color:'] {
    &:before,
    &:after {
      background: linear-gradient(to right, currentColor 90%, transparent);
    }
  }
}
.activityText__5d473 {
  color: hsla(0, 0%, 100%, 0.4) !important;
  transition: all 0.15s ease-in-out;
  strong {
    color: $main-color;
    font-weight: 700;
    transition: all 0.15s ease-in-out;
  }
}
.name__91a9d {
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.6);
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}
.member__5d473 {
  // HOVER
  &:is(:hover, .selected__91a9d) {
    .username__703b9 {
      &:before {
        opacity: 1;
      }
      &[style^='color:']:before {
        opacity: 0.07;
      }
    }
  }
  // SELECTED
  &.selected__91a9d {
    .username__703b9 {
      -webkit-text-fill-color: #fff;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
      &:after {
        right: 0;
      }
    }
    .activityText__5d473 {
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
      color: hsla(0, 0%, 100%, 0.7) !important;
      strong {
        color: #fff;
      }
    }
    .ownerIcon__5d473,
    .icon_c9d15c {
      filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.7));
    }
  }
}

// PLACEHOLDERS
.memberGroupsPlaceholder_c8ffbb {
  margin: 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  color: hsla(0, 0%, 100%, 0.3);
  &:before,
  &:after {
    content: '';
    height: 2px;
    flex-grow: 1;
  }
  &:before {
    background: linear-gradient(to left, currentColor 50%, transparent);
    margin-right: calc(50% + 5px);
    margin-left: -50%;
  }
  &:after {
    background: linear-gradient(to right, currentColor 50%, transparent);
    margin-right: -50%;
    margin-left: calc(50% + 5px);
  }
}
.memberGroupsPlaceholder_c8ffbb,
.placeholderAvatar__27cc6,
.placeholderUsername__27cc6,
.mulitplePlaceholderUsername__27cc6 {
  background: hsla(0, 0%, 100%, 0.3);
}
.addMembersIcon_d9b498 {
  background-color: var(--background-overlay);
}

// THREAD EMPTY MEMBERS
.emptyStateHeader__7641b {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-color !important;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  transition: all 0.15s ease-in-out;
  opacity: 1;
  &:before {
    content: '';
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to left, currentColor 50%, transparent);
    margin-right: 5px;
  }
  &:after {
    content: '';
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to right, currentColor 50%, transparent);
    margin-left: 5px;
  }
}
.emptyStateIcon__7641b {
  background-color: $main-color;
  color: #fff;
}

// MEMBERS ACTIVITY SECTION (as opposed to just the text under members)
.container__0f2e8 {
  background: rgba(0, 0, 0, calc($bg-shading * 0.4));
  border: 2px solid transparent;
  &:hover {
    background: rgba(0, 0, 0, calc($bg-shading * 0.4));
    border: 2px solid $hover-color;
  }
}

// MEMBERS ACTIVITY POPOUT
/*clicked in*/
.popoutContentWrapper_af3b89,
.interactionsContainer_af3b89 {
  background-color: cv('bg.general.popout');
}
/*clicked in icon*/
.shareToChannelButton_af3b89 {
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
  path {
    fill: #fff;
  }
}
