/* HEADER BAR BREADCRUMBS */
.breadcrumbs_bac619 {
  margin-left: 2px;
  .breadcrumb__67607 {
    margin: 0 3px;
    transition: all 0.15s ease-in-out;
  }
  .breadcrumbArrow__58361 {
    transition: all 0.15s ease-in-out;
  }
  .breadcrumbWrapper__75797 {
    color: hsla(0, 0%, 100%, 0.3);
    &:hover {
      .breadcrumb__67607 {
        color: hsla(0, 0%, 100%, 0.7);
        text-decoration: none;
      }
      .breadcrumbArrow__58361 {
        &.directionRight__5fbe9 {
          color: hsla(0, 0%, 100%, 0.7);
          transform: rotateY(180deg) rotateZ(-90deg) translateY(3px);
        }
      }
    }
  }
}
