@use '../index' as *;
/* HEADER BAR SEARCH BARS */

.searchBar__97492,
.searchBar__3fb48 {
  background-color: hsla(0, 0%, 100%, 0.07);
  border-radius: 3px;
  transition: width 0.2s ease-in-out 0.1s;
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  margin: 2px;
  &:focus-within {
    box-shadow: 0 0 2px 2px $main-color;
    transition: all 0.15s ease-in-out;
  }
}
.search__97492 {
  .searchFilter_bd8186,
  .searchAnswer_bd8186 {
    background: $main-color;
    color: #fff;
  }
  .searchFilter_bd8186 {
    padding: 0 3px;
  }
  .searchAnswer_bd8186 {
    margin: 0 2px 0 0;
    padding: 0 3px 0 0;
  }
}
.icon_a45028 {
  color: hsla(0, 0%, 100%, 0.7);
  transition: all 0.15s ease-in-out;
}
.backButton_fed6d3 {
  color: hsla(0, 0%, 100%, 0.7);
  transition: all 0.15s ease-in-out;
  &:hover {
    color: #fff;
  }
}

.container__55c99 .queryContainer__55c99 .keybindShortcutSearchPopout_fcddc1 > span {
  display: none;
}
