@use '../index' as *;
/* BUTTON */
.button__201d5 {
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

// BUTTON FILLED
.lookFilled__201d5 {
  &:is(.colorBrand__201d5, .colorGreen__201d5, .buttonColor__7b3e8, .colorPrimary__201d5) {
    background: $main-color;
    color: #fff;
    &:hover {
      background: $hover-color;
    }
    &:disabled {
      background: cv('colors.danger');
    }
    &:active {
      background: cv('colors.success');
    }
  }
  &.colorRed__201d5 {
    background-color: cv('colors.danger');
  }
  &:is(.colorBrandInverted__201d5, &.colorWhite__201d5) {
    background: #fff;
    color: $main-color;
    &:is(:hover, :active) {
      background: hsla(0, 0%, 100%, 0.95);
      color: $hover-color;
    }
    &:disabled {
      background: hsla(0, 0%, 100%, 0.3);
    }
  }
  // EMBED BUTTON
  .container_b7e1cb & {
    &.colorGreen__201d5 {
      background-color: cv('colors.success');
      &:hover,
      &:active {
        background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.1%), 33.3%);
      }
    }
  }
}

// BUTTON OUTLINED
.lookOutlined__201d5 {
  &:is(.colorWhite__201d5, .colorPrimary__201d5, .colorGreen__201d5, .colorBrand__201d5) {
    border-color: $main-color;
    color: hsla(0, 0%, 100%, 0.8);
    &:hover {
      background-color: transparent;
      border-color: $hover-color;
      color: #fff;
    }
  }
  &.colorRed__201d5 {
    border-color: cv('colors.danger');
    color: hsla(0, 0%, 100%, 0.8);
    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
}

// BUTTON LINK
.lookLink__201d5 {
  &:is(.colorWhite__201d5, .colorPrimary__201d5) {
    color: #fff;
  }
  &.colorBrand__201d5 {
    color: $main-color;
  }
  &.colorLink__201d5 {
    color: var(--url-color);
    &:disabled:hover .contents__201d5 {
      text-decoration: none;
    }
  }
  &.colorRed__201d5 {
    color: cv('colors.danger');
  }
  &:hover .contents__201d5 {
    background-image: none;
    text-decoration: underline;
  }
}

// CIRCLE
.button__06eda {
  background-color: hsla(0, 0%, 0%, 0.6);
  color: #fff;
  &:hover {
    &:not(.disabled__06eda) {
      background-color: $hover-color;
      color: #fff;
    }
  }
}
