@use '../index' as *;
// PAGE CONTROL
.theme-dark {
  .pageButton_c15210 {
    &.activeButton_c15210,
    &.activeButton_c15210:hover {
      background-color: $main-color;
    }
    &:hover {
      background-color: $hover-color;
      &:disabled {
        background-color: transparent;
      }
    }
  }
}
.endButton_c15210 {
  &:disabled {
    border-color: $main-color;
    color: #fff;
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:not(:disabled):hover {
    border-color: $hover-color;
  }
}
