@use '../index' as *;
/* RADIO */
.item__001a7 {
  background-color: transparent;
  color: #fff;
  &:hover {
    &:not([aria-checked='true']):not(.disabled__001a7) {
      background-color: transparent;
      color: #fff;
    }
  }
  .radioBar__001a7 {
    background-color: cv('bg.general.card');
    border-left: 3px solid var(--radio-bar-accent-color);
    transition: all 0.15s ease-in-out;
  }
  &[aria-checked='true'] {
    .radioBar__001a7 {
      background-color: var(--radio-bar-accent-color, $main-color);
    }
  }
  .radioIconForeground__001a7 {
    color: #fff;
  }
}

// RADIO ACCENTS
.radioBar__001a7 {
  &[style*='--radio-bar-accent-color:var(--green-360)'] {
    --radio-bar-accent-color: #43b581 !important;
  }
  &[style*='--radio-bar-accent-color:var(--yellow-360)'] {
    --radio-bar-accent-color: #faa61a !important;
  }
  &[style*='--radio-bar-accent-color:var(--red-400)'] {
    --radio-bar-accent-color: #982929 !important;
  }
}
