@use '../index' as *;
/* SCROLLBAR */
// Chrome version fix
.auto__99f8c,
.auto_d125d2,
.thin__99f8c,
.thin_d125d2 {
  scrollbar-width: unset !important;
  scrollbar-color: unset !important;
}

// Scrollbar Sizes
.auto__99f8c::-webkit-scrollbar {
  width: 14px !important;
}
.thin__99f8c::-webkit-scrollbar {
  width: 10px !important;
}
.none__99f8c::-webkit-scrollbar {
  width: 0px;
}

// Scrollbar Styling
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  border: 3px solid transparent !important;
  border-radius: 7px !important;
  background-clip: padding-box !important;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color !important;
  &:active {
    background-color: $hover-color !important;
  }
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
}

// Scrollbar Visibility on Hover
.membersWrap_c8ffbb {
  .scrollerBase__99f8c {
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track-piece {
      visibility: hidden;
    }
    &:hover &::-webkit-scrollbar-thumb,
    &:hover &::-webkit-scrollbar-track-piece {
      visibility: visible;
    }
  }
}

// Background shading for certain scroll areas
.chat_f75fb0,
.membersWrap_c8ffbb {
  .scrollerBase__99f8c::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.3)) !important;
  }
}

// Hide scrollbars for specific elements
textarea::-webkit-scrollbar {
  display: none !important;
}
.modalContent_c50f62::-webkit-scrollbar {
  width: 0;
}
