@use '../index' as *;
/* SWITCH */
.container__87bf1 {
  background-color: hsla(0, 0%, 100%, 0.15) !important;
  transition: all 0.1s ease-in-out;
  &.checked__87bf1 {
    background-color: $main-color !important;
  }
  path {
    fill: $main-color;
  }
}
