@use '../index' as *;
/* CONNECTIONS */
$colours: (
  'Reddit': #ff4500,
  'Steam': #000000,
  'Twitter': #009ef7,
  'Spotify': #1db954,
  'Xbox Live': #107c10,
  'Battle.net': #0566b0,
  'Facebook': #1877f2,
  'GitHub': #222222,
  'Twitch': #9146ff,
  'YouTube': #ff0000,
);

.connection_c7f964 {
  background-color: cv('bg.general.card');
}
.connectionHeader_c7f964 {
  background-color: transparent;
}

.connection_c7f964 {
  @each $i, $u in $colours {
    &:has(.connectionIcon_c7f964[alt*='#{$i}']) {
      background-color: rgba($u, 0.5);
    }
  }
}
.connectionHeader_c7f964 {
  @each $i, $u in $colours {
    &:has(.connectionIcon_c7f964[alt*='#{$i}']) {
      background-color: rgba($u, 0.2);
    }
  }
}
.connectionAccountLabel_c7f964 {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
.connectionDelete_c7f964 {
  color: hsla(0, 0%, 100%, 0.7);
}
.metadataContainer_c7f964 {
  background-color: hsla(0, 0%, 100%, 0.1);
}
