@use '../index' as *;
/* SETTINGS CONTENT */
.standardSidebarView__23e6b {
  > .contentRegion__23e6b {
    background: transparent;
  }
}
.contentRegion__23e6b {
  .contentRegionScroller__23e6b,
  .scroller_ff90b2 {
    background: transparent;
  }
}

// CLOSE BUTTON
.theme-dark {
  .closeButton_c2b141 {
    border-color: hsla(0, 0%, 100%, 0.4);
    color: hsla(0, 0%, 100%, 0.6);
    &:hover {
      border-color: hsla(0, 0%, 100%, 0.6);
      background-color: transparent;
    }
  }
  .keybind_c2b141 {
    color: hsla(0, 0%, 100%, 0.6);
  }
}

// UNSAVED CHANGES
.container_fcf29c {
  background-color: hsla(0, 0%, 0%, 0.8) !important;
}

// AVATAR UPLOADER
.imageUploaderInner_e4d0bf {
  background-color: hsla(0, 0%, 100%, 0.05);
}
.theme-dark .imageUploaderIcon_e4d0bf {
  background-color: $main-color;
  background-image: none;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(https://discord.com/assets/d5c25e76af04cea8997e4a060572feae.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    filter: brightness(0) invert(1);
    pointer-events: none;
  }
}

// ITEM CARDS
.card__73069 {
  &:not(.outline__73069),
  &.outline__73069 {
    background-color: cv('bg.general.card');
    border-color: hsla(0, 0%, 100%, 0.07);
  }
  .anchor_edefb8 {
    color: var(--url-color);
  }
}

// COLOR PICKER
.theme-dark .customColorPicker__459fb {
  background-color: cv('bg.general.popout');
  border-color: transparent;
  border-radius: 5px;
}

// WARNING SHAKE
.app__160d8[style*='transform'] {
  transform: none !important;
  .bg__960e4 {
    animation: cv-shake 0.5s ease-in;
  }
}

// DROP DOWN
.lookFilled__3f413.select__3f413 {
  background-color: hsla(0, 0%, 100%, 0.07);
  border-color: hsla(0, 0%, 100%, 0.09);
}
.popout__3f413 {
  background-color: cv('bg.general.popout');
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.option__3f413 {
  &:hover,
  &:focus,
  &.focused__3f413 {
    background-color: hsla(0, 0%, 100%, 0.05);
    border: hsla(0, 0%, 100%, 0.07);
  }
  &[aria-selected='true']:not(.option__3f413.multi__3f413) {
    background-color: $main-color;
    .selectedIcon__3f413 {
      circle {
        fill: $main-color;
      }
    }
    path {
      fill: #fff;
    }
  }
}

// ohnyo
.attendeeCTA_ca5ce6:after {
  content: 'ClearVision easter egg, please visit our server for a headpat :)';
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.7);
  text-align: center;
  top: 130%;
  z-index: -1;
  left: 0;
}
