@use '../index' as *;
/* COMMUNITY SERVER ONBOARDING */

// POPOUT
.educationUpsell__4a4f2 {
  background-color: cv('bg.general.popout');
}
.educationUpsellArrow__4a4f2 {
  border-bottom-color: cv('bg.general.card');
}

// PROGRESS
.progressBarContainer__008b2 {
  .progressBar__008b2 {
    background-color: hsla(0, 0%, 100%, 0.3);
    + .text-xs\/medium_cf4812 {
      color: hsla(0, 0%, 100%, 0.3) !important;
    }
  }
  .progressBarCurrent__008b2 {
    background-color: $main-color;
    + .text-xs\/medium_cf4812 {
      color: $main-color !important;
    }
  }
  &:hover {
    .progressBar__008b2 {
      background-color: $hover-color;
    }
  }
}

// LINKS
.anchor_edefb8 {
  .text-sm\/medium_cf4812 {
    color: #fff !important;
  }
}

// FOOTER
.container__4a4f2 {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.4)) !important;
  box-shadow: none;
}

// DEFAULT CHANNELS
.channelRow__1ea09 {
  background-color: cv('bg.general.card');
  &:hover:not(.disabled__1ea09) {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
}
.separator__1ea09 {
  margin: -1px 0 0;
  background-color: hsla(0, 0%, 100%, 0.05);
}
.header__75906,
.channelList__75906 {
  background-color: cv('bg.general.card');
}
.container_e9b3cb {
  background-color: transparent;
}
.header__75906 {
  .text-xs\/bold_cf4812 {
    color: $main-color !important ;
  }
}
.progressBar__58525 {
  background-color: $main-color !important;
}
.icon_e9b3cb {
  path {
    &[fill='var(--background-accent)'] {
      fill: var(--danger-color);
    }
    &[fill='var(--brand-500)'] {
      fill: var(--success-color);
    }
  }
}
.chattableIndicator__75906 {
  background-color: $main-color;
}

// CUSTOMISATION QUESTIONS
.channelCoverage_e34850 {
  background-color: cv('bg.general.card');
}
.coverageProgress_e34850 {
  background-color: $main-color !important;
}
.channelCoverageDetails_e34850 {
  background-color: transparent;
}
.channelPill_e34850 {
  border-radius: 20px;
  background-color: cv('bg.general.card');
  border: 2px solid $main-color;
}
.addPrompt_e34850 {
  border-color: hsla(0, 0%, 100%, 0.3);
  .plusIcon_e34850 {
    color: $main-color;
  }
  .text-md\/medium_cf4812 {
    color: $main-color !important;
  }
  &:hover {
    border-color: $hover-color;
    .plusIcon_e34850 {
      color: $hover-color;
    }
    .text-md\/medium_cf4812 {
      color: $hover-color !important;
    }
  }
}
.container__5d756 {
  background-color: cv('bg.general.card');
  border: 2px solid $main-color;
}
.example__5d756 {
  background-color: cv('bg.general.card');
  border-radius: 20px;
  border: 2px solid $main-color;
}
.resultsListContainer__6ae25 {
  background-color: cv('bg.general.popout');
  border: 1px solid hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

// SERVER GUIDE
.badExampleIcon_d2b0e4 {
  background-color: $main-color;
  color: #fff;
}
.actionItem_d2b0e4,
.resourceChannel_d2b0e4 {
  background-color: cv('bg.general.card');
}
.actionItemEmojiWrapper_d2b0e4 {
  background-color: $main-color;
  color: #fff;
}
.addActionItem_d2b0e4 {
  border-color: hsla(0, 0%, 100%, 0.3);
  color: $main-color;
  .text-md\/normal_cf4812 {
    color: $main-color;
  }
  &:hover {
    background-color: transparent;
    border-color: $hover-color;
    color: $hover-color;
    .text-md\/normal_cf4812 {
      color: $hover-color;
    }
  }
}
.pillContainer__9e06a {
  background-color: cv('bg.general.card');
  .text-sm\/medium_cf4812 {
    color: #fff;
  }
}
.pillItemSelected__9e06a {
  background-color: $main-color;
}

// REVIEW
.reviewHeader_a9b452,
.onboardingStepContainer__28e57 {
  background-color: cv('bg.general.card');
}
.iconContainer__28e57 {
  background-color: $main-color;
}
.channelIcon__28e57 {
  color: #fff;
}

.channelRow__514d8 {
  background-color: cv('bg.general.card');
}

.deprivateTableBody_e6fa8e {
  background-color: cv('bg.general.card');
}

.selectableChannelRow_e6fa8e:hover {
  background-color: $hover-color;
}

.suggestedChannels_d2b0e4 {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.4));
}

.container_cd2100 {
  background-color: transparent;
  border: none;
  &:hover {
    background-color: $hover-color;
  }
}

.searchRowLabel__6ae25 {
  background-color: cv('bg.general.card');
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
}
