@use '../index' as *;
/* SERVER SETTINGS */

// OVERVIEW - server banner
.availabilityIndicator__40463 {
  background-color: $main-color;
  color: #fff;
}

// ROLES
.container_d8f25b {
  background-color: $main-color;
  color: #fff;
  &:hover {
    background-color: $hover-color;
  }
}
.container_a45028 {
  background-color: hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  margin: 2px;
  &:focus-within {
    box-shadow: 0 0 2px 2px $main-color;
  }
}
.icon_d8f25b {
  background-color: hsla(0, 0%, 0%, 0.6);
}
.roleRow_a930f1 {
  &:before,
  &:last-child:after {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
  &:hover:not(.roleRowDisableHover_a930f1) {
    background-color: rgba(255, 255, 255, 0.05);
    .button__06eda & {
      background-color: hsla(0, 0%, 0%, 0.6);
      color: #fff;
      &:hover {
        background-color: $hover-color;
        color: #fff;
      }
    }
  }
}

// ROLES - EDIT
.titleContainer_e29cd7 {
  background-color: transparent;
}
.header_c6bf1b {
  background-color: transparent;
  &:before {
    content: '';
    @include stretch;
    position: absolute;
    z-index: -1;
    background: cv('bg.app.img') cv('bg.app.pos') / cv('bg.app.size') cv('bg.app.repeat') cv('bg.app.attach');
    @include filters(cv('bg.app'));
  }
  &:after {
    content: '';
    @include stretch;
    position: absolute;
    z-index: -1;
    background: cv('bg.app.overlay');
  }
}
.list_e29cd7 {
  .row_e29cd7 {
    &:hover {
      &:not(.disabled_b3f026) {
        background-color: hsla(0, 0%, 100%, 0.07);
      }
    }
    .roleCircle_dfa8b6 {
      &::before {
        background-color: transparent;
      }
    }
    &.selected_b3f026 {
      background-color: transparent;
      .roleCircle_dfa8b6 {
        &::before {
          background-color: inherit;
        }
      }
    }
  }
}
.previewContainer__05e8e {
  background-color: hsla(0, 0%, 0%, 0.6);
}

// View server as role selection bar
.container__09ccc {
  background-color: hsla(0, 0%, 0%, 0.8);
}

// EMOJI
.theme-dark {
  .emojiRow_e7d73e:before,
  .emojiRemove_e7d73e {
    background-color: cv('bg.general.card');
    &:hover {
      background-color: $hover-color;
    }
  }
}
.emojiRow_e7d73e {
  &:hover {
    .emojiAliasPlaceholder_e7d73e {
      visibility: hidden;
    }
  }
  .emojiAliasInput_e7d73e {
    .emojiInput_e7d73e {
      color: $text-normal;
      background-color: hsla(0, 0%, 100%, 0.07);
      border: none;
      box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
    }
    &:has(.emojiInput_e7d73e:focus-within) {
      + .emojiAliasPlaceholder_e7d73e {
        visibility: hidden;
      }
    }
  }
}

// STICKERS
.wrapper__83b1d {
  background-color: cv('bg.general.card');
  &:hover {
    background-color: $hover-color;
  }
}
.tierLock_f15dca {
  color: #fff;
  opacity: 0.3;
}

// SAFETY SETUP
.collapseable__217b7 {
  background-color: cv('bg.general.card');
  &:active {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
  &.toggled__217b7:active {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
}
.groupCollapsedContainer_b6a9f9,
.pointer_b6a9f9,
.container__6cd3a,
.clickableContainer__6cd3a {
  background-color: transparent;
  border-color: transparent;
}
.backgroundModifierContainer__6cd3a {
  background-color: hsla(0, 0%, 0%, 0.4);
  &:hover:not(.disabled__6cd3a):not(.noAction__6cd3a) {
    background-color: hsla(0, 0%, 0%, 0.4);
  }
  &.transparent__6cd3a {
    border-left: 3px solid var(--background-accent);
  }
  &.selected__6cd3a {
    &.statusGreen__6cd3a {
      background-color: var(--status-positive);
      &:hover {
        background-color: var(--status-positive);
      }
    }
    &.statusYellow__6cd3a {
      background-color: var(--status-warning);
      &:hover {
        background-color: var(--status-warning);
      }
    }
    &.statusOrange__6cd3a {
      background-color: var(--orange-360);
      &:hover {
        background-color: var(--orange-360);
      }
    }
    &.statusRed__6cd3a {
      background-color: var(--status-danger);
      &:hover {
        background-color: var(--status-danger);
      }
    }
    &:is(.accent__6cd3a, .transparent__6cd3a) {
      background-color: var(--background-accent);
      &:hover {
        background-color: var(--background-accent);
      }
    }
  }
}

// SAFETY SETUP - COMMUNITY SERVER
.changelog_abe1fa,
.safetyChecklist_eae0ef {
  background-color: cv('bg.general.card');
}
.valuePill__5dac8 {
  background-color: transparent;
  border: 2px solid $main-color;
}
.simpleItemWrapper__5dac8 {
  background-color: transparent;
}

// AUTOMOD
.textBadge__0034b {
  border: none;
  padding: 4px 6px;
}
.editCard_a25a68 {
  background-color: cv('bg.general.card');
}
.ruleIconContainer_c5e6a1 {
  background-color: $main-color;
}
.ruleIcon_c5e6a1 {
  color: #fff;
}
.actionContainer_bc4513 {
  background-color: transparent;
  border: 2px solid $main-color;
}
.actionIcon_bc4513,
.actionTextHeader_bc4513 {
  color: #fff !important;
}
.stepCountIcon_b6c6eb {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.stepperContainer_ed9c90 {
  background-color: hsla(0, 0%, 100%, 0.1);
  .input__0f084 {
    &:focus {
      box-shadow: none;
    }
  }
}
.mentionLimitContainer_ed9c90,
.keywordListContainer__09e76,
.actionContainer__6446f {
  background-color: cv('bg.general.card');
}
.keywordsTextArea__6a631,
.textArea_c615b7 {
  color: $text-normal;
  background-color: hsla(0, 0%, 100%, 0.07);
  border: none;
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  &:focus {
    box-shadow: 0 0 2px 2px $main-color;
  }
  &::placeholder {
    color: hsla(0, 0%, 100%, 0.3);
  }
}
.resultsListContainer__6ae25 {
  background-color: hsla(0, 0%, 0%, 0.8);
  border: 1px solid hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.searchRowLabel__6ae25 {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.channelIcon__6ae25 {
  color: #fff;
}

// AUDIT LOG
.theme-dark {
  .auditLog__43dab {
    border-color: transparent;
  }
  .header__43dab {
    background-color: cv('bg.general.card');
  }
  .headerExpanded__43dab,
  .divider__43dab,
  .changeDetails__43dab {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
}

// BANS
.scrollerContainer_cdb2b0 {
  background-color: cv('bg.general.card');
}
.bannedUser_cdb2b0 {
  background-color: hsla(0, 0%, 100%, 0.07);
}

// SERVER TEMPLATE
.descriptionBox__981f7 {
  background-color: cv('bg.general.card');
}

// COMMUNITY OVERVIEW
.upsellContainer__4cfe2 {
  background-color: cv('bg.general.card');
}
.upsellFooter__4cfe2 {
  background-color: transparent;
}
// ONBOARDING
.contentRegion__23e6b {
  .testimonialHeroContainer__3e7e2 {
    background-color: transparent;
  }
  .quotes__3e7e2 {
    color: $main-color;
  }
  .testimonial__3e7e2 {
    .text-sm\/medium_cf4812 {
      color: #fff !important;
    }
  }
  .upsellPreview_d9161f {
    background-color: cv('bg.general.card');
  }
  .previewListItem_d9161f {
    background-color: transparent;
    &.selected_d9161f {
      background-color: hsla(0, 0%, 100%, 0.07);
    }
  }
  .checkboxCircle_d9161f {
    background-color: $main-color;
  }
  .checkbox_d9161f {
    &.selected_d9161f {
      background-color: transparent;
      border-color: $main-color;
    }
  }
  .userCardInner_c69a7b {
    background-color: cv('bg.general.card');
  }
  .action_c66e86 {
    background-color: cv('bg.general.card');
  }
  .channelIconContainer_c66e86 {
    background-color: $main-color;
    svg {
      color: #fff;
    }
  }
}

// SERVER INSIGHTS
.analyticsCard__5931c {
  background-color: cv('bg.general.card');
}
.developerPortalCtaWrapper_bf485f {
  background-color: transparent;
}
.notEnoughMembersError_bf485f {
  background-color: var(--info-warning-background);
}
.memberInsightsContainer_cfaf72 {
  background-color: transparent;
}
.insightsActions_cfaf72 {
  background-color: transparent;
}

// ENABLE COMMUNITY
.guildDetails_bebc5b {
  background-color: cv('bg.general.card');
}
.featureCard_bebc5b,
.featureIcon_bebc5b {
  background-color: cv('bg.general.card');
}
.checkboxWrapper_f525d3.row_f525d3 {
  background-color: transparent;
  &.checked_f525d3 {
    background-color: transparent;
  }
}

// DISCOVERY
.checklist__5afba {
  background-color: cv('bg.general.card');
  .header__812a7 {
    background-color: cv('bg.general.card');
  }
  .separator__812a7 {
    background-color: hsla(0, 0%, 100%, 0.06);
  }
}

// WELCOME SCREEN
.enableContainer__5ea8c,
.previewContainer__5579e {
  background-color: cv('bg.general.card');
}
.editCircle__5ea8c {
  background-color: $main-color;
  color: white;
}
.welcomeChannel__5579e {
  background-color: hsla(0, 0%, 100%, 0.05);
}
.channelIcon__5579e {
  background-color: transparent;
}

// SERVER SUBSCRIPTIONS
.card_ea91d1 {
  background-color: cv('bg.general.card');
}
.howItWorksContainer_aa72d6,
.howItWorksImageContainer_aa72d6 {
  background-color: transparent;
}
.earningsPreviewContainer_da92c3,
.avatarCard_da92c3 {
  background-color: hsla(0, 0%, 100%, 0.07) !important;
}
.emojisContainer_adff39 {
  background-color: transparent;
}
.viewServerButton_adff39 {
  background-color: $main-color;
}

// SERVER BOOST STATUS
.background_c44edb {
  color: cv('bg.general.card');
}
.tierInProgress_c44edb {
  background-color: cv('bg.general.card');
  border: 3px solid var(--guild-boosting-pink);
}
.theme-dark {
  :is(.tierHeaderLocked_f15dca, .tierHeaderUnlocked_f15dca, .tierBody_f15dca) {
    background-color: cv('bg.general.card');
  }
}

// INVITES PAGE

// MEMBERS MANAGEMENT
.movedTable_dd2627 {
  background-color: rgba(0, 0, 0, 0.6);
}
.bannerContainer__71cd5 {
  background: cv('bg.general.card');
}
