@use 'index' as *;
#app-mount .info__2debe %line:first-child:before {
  content: $version;
  display: block;
}

%nitroShopGiftNitro {
  color: white;
}
%forumTag,
%forumIncreasedTag {
  background: $bg-shading;
  border: $main-color;
}
%dividerUnread %dividerDate {
  color: $alt-color;
  margin-bottom: 2rem;
  margin-right: 3rem;
}
%divider:has(%dividerDate) {
  background: transparent;
}
%divider%dividerUnread:has(%dividerDate) {
  background: transparent;
}
%groupSpacing16 %divider%hasContent {
  border: none;
  background: none;
}
%divider {
  border: none;
  background: none;
}
%groupSpacing16 %divider {
  border: none;
  margin: 10px;
  margin-bottom: 20px;
  background: none;
}
%unreadPill {
  background-color: $alt-color;
  height: 25px;
  width: 55px;
  position: absolute;
  right: 50%;
  border-radius: unset;
  display: flex;
  padding-left: 6px;
  color: black;
}
%unreadPillCap {
  display: none;
}
%unreadPillCapStroke {
  fill: $alt-color;
  color: $alt-color;
}
%groupSpacing16 %divider%beforeGroup {
  border-radius: unset;
  margin-top: 45px;
  margin-bottom: 50px;
}
%groupSpacing16 %divider%hasContent %unreadPill {
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
%divider%dividerUnread {
  background: transparent;
  margin: 1rem;
}

%newBoostPerksText {
  color: #fff;
}
%newBoostPerksContainer {
  background-color: rgba(0, 0, 0, 0.8);
}
%adoptTagContainer {
  background-color: $popout-color;
}
.song-tIdBpF {
  font-weight: 500;
  color: $alt-color;
}
.interpret-F93iqP {
  font-weight: 500;
  font-size: 14px;
  color: $alt-color;
}
%members %member %memberActivityText {
  color: $alt-color;
  transition: all 0.3s ease-in-out;
}
%members %member %memberActivityText strong {
  color: $alt-color;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
%privateChannels %privateChannel %privateChannelInteractive %privateChannelActivityText strong {
  color: $alt-color;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
%privateChannelActivity {
  color: $alt-color;
}
//remove borders from friends list
%friendsItem {
  border-top: transparent;
}
// Message bar
html:not(.visual-refresh-chat-input) %channelTextArea:focus-within {
  box-shadow: 0 0 2px 2px $alt-color;
}
%channelTextArea {
  box-shadow: 0 0 2px 2px hsla(0, 0%, 51%, 0.5);
}
html:not(.visual-refresh-chat-input) %channelTextAreaScrollable:focus-within {
  box-shadow: 0 0 2px 2px $alt-color;
}

%voiceChannelsButton {
  border: 2px solid $main-color;
  &:hover {
    border: 2px solid $hover-color;
    background: transparent;
  }
}
.imageDetails-1t6Zms {
  color: var(--url-color);
}
// Make most buttons round
%button {
  border-radius: 50px;
}
// Remove annoying border around second nitro option.
%tier2ColumnOuter {
  display: none;
}
%tier0ColumnOuter,
%tier2ColumnOuter {
  display: none;
}

%titlebarWin {
  height: 18px;
  width: 100vw;
  margin: 0;
  padding: 2px 0;
  background: rgba(0, 0, 0, calc($bg-shading * 0.6));
  box-shadow: 0 0 20px rgba(0, 0, 0, calc($bg-shading * 0.6));

  > %titlebarWordmark {
    position: static;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: none;
    user-select: none;
    order: 1;

    &::before {
      content: 'SnowVision';
      color: var(--alt-color);
      font-size: 14px;
      font-family: 'Lovely Home', sans-serif;
      background-image: url(https://i.imgur.com/ElceD67.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
      padding-left: 18px;
      margin-right: 10px;
      margin-left: 1.5px;
    }

    &::after {
      content: 'v1.5.5';
      color: var(--alt-color);
      font-family: 'Bookerly Display Regular', serif;
      font-size: 10px;
      margin-left: -5px;
      margin-bottom: 3px;
      order: 3;
    }
  }

  > %titlebarWordmark > svg {
    color: $alt-color;
    filter: unset;

    > g > path {
      fill: $alt-color;
    }
  }
}

%toolbar %headerBarIconWrapper > svg:not(%headerBarIcon) {
  color: #fff;
  filter: unset;
  transition: unset;
  &:hover {
    color: #fff;
    filter: drop-shadow(0 0 15px transparent);
    color: unset;
  }
}
button%panelButton%panelButtonEnabled:hover {
  color: #fff;
  background-color: hsla(0, 0%, 30%, 0.5);
}
%panelButton %panelButtonEnabled %button %buttonBlank %inviteButtonExpired %grow %panelButton:hover {
  color: #fff;
  background-color: hsla(0, 0%, 30%, 0.5);
}
%forumListOpen,
%forumIncreasedOpenCard,
%mainCard%forumListOpen,
%mainCard%forumIncreasedOpenCard {
  background-color: rgba(0, 0, 0, 0.4);
}
%newMessagesBar:before {
  opacity: 0.3;
  background: $main-color;
}
%containerWrapper {
  background: var(--background-overlay);
  border: 2px solid $main-color;
}
// Role Names in member sidebar
%members %membersGroup {
  color: $alt-color;
  opacity: 1;
  text-shadow: 0 0 2px;
}
// The lines that go to either side of the role names on the members sidebar
%members %membersGroup:before,
%members %membersGroup:after {
  background: linear-gradient(to left, $main-color 50%, transparent);
}
%username {
  color: $alt-color;
}
%text {
  color: $alt-color;
}
%friendActivity {
  color: $alt-color;
}
%friendActivity strong {
  color: $alt-color;
}
%message %messageTimestamp {
  color: #fff;
  font-weight: bolder;
}
%memberActivityIcon {
  color: $alt-color;
}
%dividerDate {
  color: $alt-color;
}
// Channel Catagory Names
%channelsSidebar :is(%categoryContainerDefault, %categoryContainerDragAfter, %categoryContainerDrag, %categoryContainer) %categoryWrapper %categoryName {
  color: $alt-color;
  text-shadow: none;
  opacity: 2;
}

// for the text in settings, important needed because some have inline style.
%standardSidebarView,
%standardSidebarView * {
  color: #fff;
}

// Voice Channel, full view background. Important needed because discord used inline style.
%voiceChatBackground {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

// Voice Channel chat upload
%voiceChannelUpload {
  background: transparent;
}

%privateChannelsHeaderText {
  overflow: visible;
}
%chatLoadingCozy %chatLoadingWrapper {
  background: rgba(0, 0, 0, calc($bg-shading * 0.4));
}

%chatLoadingWrapper {
  background: transparent;
}

%messageListItem[id*='chat-messages-212324635356692500']:has(img[src*='704368256017891348']) {
  display: none;
}
// userSettingsPremium
%userSettingsNitroPerkCard {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.4));
  border: 2px solid $main-color;
}
%themeDark %tooltipGrey {
  background-color: $main-color;
}
%streamPreview {
  background: rgba(0, 0, 0, calc($bg-shading * 0.7));
}
%selectedScreen {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.7));
}
%userPopoutInner::before {
  display: none;
}
// Settings
%standardSidebarView %settingsSidebar %tabBarSide %tabBarItem {
  color: #fff;
}

%nitroTOS {
  color: #fff !important;
}
// BD Real All
.readAllButton {
  background-color: rgba(0, 0, 0, 0.4);
  color: $main-color;
  &:hover {
    background-color: $hover-color;
    color: $main-color;
    transition: background-color 0.6s ease-in-out;
  }
}
// Vencord Read All
button.vc-ranb-button%button%buttonFilled%sizeMin%grow {
  position: static;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  color: $text-normal;
  box-sizing: border-box;
  padding: 4px 8px;
  overflow: visible;
  z-index: 1;
  transition: all 0.6s linear;
  &:hover {
    background: $hover-color;
  }
}
// Vencord Versioning Info
%line {
  color: #fff !important;
}
.vc-rdb-modal-footer .vc-rdb-input {
  background: rgba(0, 0, 0, 0.4);
}
%userPopoutInner::before {
  display: none;
}
%eyebrow {
  overflow: hidden !important;
}
%input%inputFocused,
%input:focus {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
%input:focus,
%input%inputFocused {
  box-shadow: none;
}
%input {
  background-color: transparent;
  box-shadow: none;
}
%input%flexCenter {
  box-shadow: 0 0 2px 2px $main-color;
  &:hover {
    box-shadow: 0 0 2px 2px $hover-color;
  }
}
%buttonFilled%buttonColorWhite {
  color: #fff !important;
  background: transparent !important;
  border: 1px solid $main-color !important;
  &:hover {
    color: #fff !important;
    background: transparent !important;
    border: 2px solid $hover-color !important;
    transition: border 0.5s ease-in-out !important;
  }
}
%shineContainer%buttonShine%guildBoostCtaBoostShine {
  display: none !important;
}
// Mod View
%serverGuideMessage,
%serverGuideMessage%userProfileOuter {
  background: transparent !important;
}
//Inside messageble channel
%channelTextArea {
  background: rgba(0, 0, 0, calc($bg-shading * 0.1));
}
%wrapper:hover %childWrapper,
%wrapper%selected %childWrapper {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0));
  transform: scale(1.5);
}
// Okay so this is a weird one but it's like the popout for statuses
%menuPopoutSeparator {
  display: none;
}
// Vencord Plugin Descriptions?
%inviteTitle,
%label,
%legend {
  color: #fff;
}
// Some kinda boxes. So far only seen on vencord plugins
%themeDark %modal,
%themeDark %modalRoot {
  background: rgba(0, 0, 0, 0.8);
}
// home -> shop mosiac background on top
%root {
  display: none;
}
// Summaries in chat BETA
%topicsPillContainer {
  background: rgba(0, 0, 0, 0.6);
  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}
%newTopicsBarContainer {
  background-color: $main-color;
  opacity: 0.5;
}
%topicsPillCaret {
  background: $main-color;
  color: #fff;
  &:hover {
    background: $hover-color;
    color: #fff;
  }
}
%topicsPillTextSelected {
  background: rgba(0, 0, 0, 0.8);
}
%topicsDropdownHeading {
  background: rgba(0, 0, 0, 0.8);
}
%topicsScroller {
  background: rgba(0, 0, 0, 0.8);
}
%thumbIcon {
  color: #fff;
  background: $main-color;
}
%summaryFeedbackWrapper {
  display: none;
}
%summaryEndIcon {
  color: $alt-color;
  background: transparent;
  margin-right: 93.5%;
  width: 2.5rem;
  height: 3rem;
  font-weight: 900;
  margin-top: auto;
  margin-bottom: auto;
}
%summaryStartIcon {
  color: $alt-color;
  width: 2.5rem;
  height: 3rem;
  font-weight: 900;
  margin-left: 42px;
}
// Home Icon Parent
%guildNav:hover %guildChildWrapper,
%guildNav%guildNavSelected %guildChildWrapper {
  background-color: transparent;
  color: #fff;
}
// Home Icon Background
%guildChildWrapper {
  background-color: transparent;
}

%subEnabledServers {
  background: var(--backdrop-image);
}
// Add a status - full profile view
// Grouping all :before rules that require display: none
%themeDark %statusBubbleOuter:before,
%userProfileOuter:before,
%statusBubbleOuter:before,
%userProfileCustomTheme %themeDark %userProfileStatusBubbleOuter:before {
  display: none;
}
// Grouping all :after rules that require display: none
%userProfileOuter:after,
%statusBubbleOuter:after,
%themeDark %statusBubbleOuter:after,
%userProfileCustomTheme %themeDark %userProfileStatusBubbleOuter:after {
  display: none;
}
%userProfileCustomTheme %background {
  --custom-status-bubble-background-coloor: transparent;
}
// Grouping all border rules that use 1px solid $main-color
%statusBubble,
%themeDark %statusBubbleOuter,
%themeDark %userProfileOuter,
%userProfileCustomTheme %themeDark %statusBubbleOuter,
%userProfileStatusBubble,
%userProfileCustomTheme %themeDark %userProfileStatusBubbleOuter,
%userProfileCustomTheme %themeDark %userProfileOuter {
  border: 1px solid $main-color;
}
// Specific rules that aren't merged with others
%statusBubble {
  background: rgba(0, 0, 0, 0.8);
}
%statusText {
  color: #fff;
}
%statusBubbleShape {
  border-radius: 16px;
}
%statusBubbleOuter {
  background: transparent;
}

%themeDark %userProfileStatusBubbleOuter {
  background: rgba(0, 0, 0, 0.6);
}
// Bots...why are they different??????
%userProfileStatusBubbleOuter::before {
  display: none;
}
%userProfileStatusBubbleOuter::after {
  display: none;
}
// Status in user settings
%userProfileStatusBubbleOuter:before {
  display: none;
}
%userProfileStatusBubbleOuter:after {
  display: none;
}
// Gift in chat
%themeDark %giftCardButton {
  border-color: $main-color;
  color: #fff;
  &:hover {
    border-color: $hover-color;
    color: #fff;
  }
}
%themeDark %giftCardButton:hover {
  border-color: $hover-color;
  color: #fff;
}
%giftCardButton {
  background-color: rgba(0, 0, 0, calc($bg-shading * 0.6));
}
%settingsHeaderText {
  overflow: hidden;
}
// Send voice message vencord plugin
.vc-vmsg-preview {
  background: rgba(0, 0, 0, 0.4);
}
%panelActionButton%panelActionButtonColor%panelActionButtonActive:hover {
  background: $hover-color;
  color: #fff;
}
%panelActionButtonLottieIcon svg {
  fill: #fff;
  transform: unset;
}
%panelActionButton%panelActionButtonColor%panelActionButtonActive {
  background-color: $hover-color;
}
// Voice chat count
%channelUserLimitUsers {
  color: $text-normal;
  background: rgba(0, 0, 0, 0.5);
}
%channelUserLimitTotal {
  color: $text-normal;
  background: hsla(0, 0%, 100%, 0.2);
  box-shadow: inset 1px 0 hsla(0, 0%, 100%, 0.4);
}
%channelWrapperSelected %numberBadge,
%channelWrapperSelected %textBadge,
%privateChannelInteractiveSelected %numberBadge,
%privateChannelInteractiveSelected %textBadge,
%tabBarItemSelected %numberBadge,
%tabBarItemSelected %textBadge {
  background-color: $hover-color !important;
  color: #fff !important;
}
%buttonFilled%buttonColorBrandInverted,
%buttonFilled%buttonColorWhite {
  background: transparent;
  color: #fff;
  border: 1px solid $main-color !important;
}
%imageContainer {
  background: transparent;
}
// Spotify on User profile
%customProfile %themeColor%primary {
  background: $main-color;
  color: #fff;
  transition: background 0.3s ease-in-out;
  &:hover {
    background: $hover-color;
    color: #fff;
  }
}
// Guild Folder Expanded background
%guildExpandedFolderBackground {
  background-color: $main-color;
  opacity: 0.5;
}

// Server Settings > members
%guildSettingsRoleRow:hover:not(%guildSettingsRoleRowDisabled) %circleButton {
  background: $hover-color;
}
// Game sharing screen icon
%badge {
  color: $main-color;
}
// server context menu -> boost this server
%guildBoostMural {
  background: transparent;
}
%boostThisServerButton {
  color: #fff;
}
// Button shine
%buttonShineInner {
  background-color: $alt-color;
}
%buttonShine {
  background-color: $alt-color;
}
%motion %buttonShine {
  animation-duration: 4s;
}
// Reply
%replySpine {
  border-color: $alt-color;
}
// user settings, server boost
%boostNewHome {
  background-color: rgba(0, 0, 0, 0.4);
}
%freeBoost {
  border-radius: 8px 8px 0 0;
}
%lookingForBlocked {
  background: rgba(0, 0, 0, 0.6);
}
%gamesLastPlayedTime {
  color: $text-normal;
}
%voiceMessagePlaying %voiceMessagePlayButtonContainer {
  background: $hover-color;
}
%keybindRecordingContainer%keybindRecordingActive %keybindAdd {
  color: $text-normal;
}
// poll results
%pollEndContainer {
  background-color: rgba(0, 0, 0, 0.8);
}
%privateChannelInteractive%privateChannelInteractiveSelected %privateChannelIcon,
%privateChannelInteractive%privateChannelInteractiveSelected %privateChannelName {
  color: #fff;
}
%dmStatusText {
  color: $alt-color !important;
}
%privateChannelSubText {
  color: #fff;
}

%activityContainer {
  background: rgba(0, 0, 0, 0.6);
}

%embed %embedTitleLink {
  color: $alt-color !important;
  &:hover {
    color: var(--url-color) !important;
  }
}

%friendsWhoPlay {
  background-color: var(--card-color);
}

%questInfoWrapper {
  background-color: var(--card-color);
}

%questVideoPopout {
  background-color: $popout-color;
}

%pollAnswerFill {
  color: $main-color;
}

%clipsEnabledIcon > path {
  fill: $main-color;
  border-radius: 25px;
  margin-right: 3px;
}

// important needed to override discord doing inline styling of -6? Makes it go out of the box, stupid af.
%accountStandingPoints {
  background-color: rgba(0, 0, 0, 0.4);
  margin-right: 6px !important;
}


%guildProfilePreview {
  background-color: rgba(0, 0, 0, 0.4);
}
// .header_ is the class of an element containing the username, timestamp and if the pronoun exists,
// it contains an element with the class .vc-pronoundb-compact but not on the last child. The DOM is something like .header > [username, timestamp+vc-pronound-compact, timestamp]
@supports selector(a:has(+ a)) {
  %messageHeader:has(.vc-pronoundb-compact) %timestampInline:last-child,
  [class*='compact'] %header .vc-pronoundb-compact:last-child {
    color: $alt-color;
  }
}

[aria-label='Pronouns'] {
  color: $alt-color !important; // important needed because of some * shit I did
}
