@use 'functions' as *;

// SHORTHANDS
$main-color: cv('colors.main');
$hover-color: cv('colors.hover');
$alt-color: cv('colors.alt');
$bg-shading: cv('bg.app.shading');
$text-normal: cv('text.normal');
$popout-color: cv('bg.general.popout');
