@use 'index' as *;
.visual-refresh {
  // APP BG
  .appMount__51fd7 {
    background: var(--background-overlay);
    position: static;
    z-index: 1; //make the overlay over before in case they use frosted glass
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--frosted-glass-background);
      backdrop-filter: blur(var(--background-blur));
      -webkit-backdrop-filter: blur(var(--background-blur));
      z-index: -1; //frosted glass beneath overlay so they can darken it with an overlay
    }
  }

  .bg__960e4 {
    background: cv('bg.app.img') cv('bg.app.pos') / cv('bg.app.size') cv('bg.app.repeat') cv('bg.app.attach');
    @include filters(cv('bg.app'));
    z-index: -9999; // background image behind all the overlays.
  }

    /* INVITE LINK */
  .wrapper_d5f3cd {
    background: cv('bg.general.card');
  }
  .header_d5f3cd {
    color: hsla(0, 0%, 100%, 0.5);
  }
  .guildName_d5f3cd {
    color: $main-color;
    @include hover-shadow;
  }
  .guildIcon_d5f3cd {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  .guildIconExpired_d5f3cd {
    position: relative;
    background-size: 0;
    background: hsla(0, 0%, 100%, 0.04);
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 10%;
      bottom: 10%;
      left: 50%;
      width: 6px;
      background: cv('colors.danger');
      border-radius: 1px;
    }
    &:after {
      transform: translateX(-50%) rotate(45deg);
    }
    &:before {
      transform: translateX(-50%) rotate(-45deg);
    }
  }
  .guildDetail_d5f3cd {
    color: hsla(0, 0%, 100%, 0.3);
  }
  .statusOnline_d5f3cd {
    background: cv('colors.online');
  }
  .statusOffline_d5f3cd {
    background: cv('colors.offline');
  }
  .wrapper_d5f3cd {
    .lookFilled__201d5.colorGreen__201d5 {
      background: transparent;
      border: 1px solid cv('colors.success');
      &:hover {
        background: cv('colors.success');
      }
    }
  }
  .inviteDestinationExpired_d5f3cd {
    color: cv('colors.danger');
  }

  // GUILDS
  %guildsWrapper,
  // ACC PANEL
  %panels,
  %channelsHeader,
  %channelsSidebar::after,
  // SETTINGS
  %standardSidebarView,
  %settingsSidebarScroller,
  // FRIENDS LIST APPARENTLY
  %friendsList,
  // CHANNELS HEADER
  %channelsHeaderClickable,
  // CHANNELS ATTACH BAR
  %channelTextAreAttachedBar,
  // DATE DIVIDER
  %dividerDate,
  // HOME ICON BACKGROUND WHEN NO HOVER
  %homeIconBackground,
  // AGE RESTRICTED NSFW CHANNEL
  %ageRestricted,
  // follow this channel, and maybe more.
  %channelInfo,
  %startingCall,
  %chatLoadingWrapper,
  // INBOX
  .channelHeader__35a7e,
  .header__45690,
  .wrapper_cb9592 {
    background: rgba(0, 0, 0, calc($bg-shading * 0.1));
  }

  // CHAT BG
  .chatContent_f75fb0 {
    background: rgba(0, 0, 0, calc($bg-shading * 0.5));
  }

  // UNREAD MESSAGES IN SERVER
  // IMPORTANT NEEDED BECAUSE DISCORD USED INLINE STYLING
  .messages__1ccd1,
  .barText__7aaec {
    color: $text-normal !important;
  }

  // POLLS
  .container__0be77 {
    background-color: $popout-color;
    border: 1px solid $main-color;
  }

  // CHANNELS
  .container__2637a,
  .privateChannels__35e86 {
    background: rgba(0, 0, 0, calc($bg-shading * 0.3));
  }

  // CHAT INPUT
  .visual-refresh-chat-input {
    .channelTextArea__74017 {
      background-color: rgba(0, 0, 0, calc($bg-shading * 0.6));
    }
  }
  // Resize handle
  .resizeHandle__01ae2 {
    background: rgba(0, 0, 0, calc($bg-shading * 0.5));
    &:hover {
      background: hsla(0, 0%, 100%, 0.2);
    }
  }

  // forum create a post
  .mainCard_f369db {
    background: rgba(0, 0, 0, calc($bg-shading * 0.5));
  }

  .channelChatWrapper_cb9592 {
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .container_c44293 {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid $main-color;
    border-radius: 15px;
  }

  // loading screen
  .container_a2f514 {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  // FORUM HEADER & ATTACHMENT AREA
  .container__01ae2,
  .container__34c2c,
  .header__34c2c,
  .channelAttachmentArea_b77158 {
    background: rgba(0, 0, 0, calc($bg-shading * 0.6));
  }
  // UPLOAD AREA
  .upload_aa605f {
    background: rgba(0, 0, 0, calc($bg-shading * 0.4));
    border: 1px solid $main-color;
  }

  // GUILD EXPANDED FOLDER BG
  .expandedFolderBackground__48112 {
    background-color: $main-color;
  }

  // BRAND BAR IDK WTF THIS WAS
  .bar__7aaec {
    background-color: $main-color;
    border: none;
  }

  // MEMBER ACTIVITY IN CHAT
  .container__0f2e8 {
    background: var(--card-color);
    border: 1px solid $main-color;
  }

  // EMOJI PICKERS
  .searchBar_c0e32c {
    margin-top: 6px;
  }

  .header_c0e32c,
  .contentWrapper__08434,
  .emojiPicker_c0e32c,
  .wrapper__4e6ce,
  .header_fed6d3,
  .header__8ef02,
  .container_fed6d3,
  .wrapper_e94b8c {
    background-color: $popout-color;
  }

  .inspector_aeaaeb {
    background-color: transparent;
  }

  .container_a45028 {
    margin-top: 6px;
  }

  .wrapper__14245 {
    background-color: $main-color;
  }

  .emojiPickerHasTabWrapper_c0e32c .categoryList_c0e32c {
    margin-top: 6px;
  }

  :where(.visual-refresh) .container_a45028 {
    margin-top: 6px;
  }

  .bodyWrapper_c0e32c {
    background-color: $popout-color;
  }

  .standardStickerShortcut__3ad28 {
    display: none; // some useless sticker shortcut, badly placed.
  }

  .label__0d242 {
    background: transparent;
    color: $main-color;
    transition: color 0.5s ease-in-out;
    &:hover {
      color: $hover-color;
    }
  }

  /* DISCORD SHOP */
  .homeWrapper__0920e {
    background-color: transparent;
  }
  .shop__08415 {
    background: transparent;
  }
  .shopAll__08415 {
    background: $main-color;
    &:hover {
      background: $hover-color;
    }
  }
  .shop__6db1d {
    background-color: transparent;
  }
  .shopScroll__6db1d {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.4));
  }
  .pageWrapper__6db1d {
    background-color: transparent;
  }
  .headerBar__80679 {
    background-color: transparent !important;
  }

  // LOADING
  .skeleton__72fa0 {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  .bannerBody__72fa0,
  .cardBody__72fa0 {
    background-color: cv('bg.general.card');
  }
  .cardAvatar__72fa0,
  .cardTitle__72fa0,
  .cardDescription__72fa0,
  .cardSummary__72fa0 {
    background-color: hsla(0, 0%, 100%, 0.07);
  }

  // CARD
  .shopCard_b37971,
  .shopCard_c3d04b {
    background-color: cv('bg.general.card');
    border-color: $main-color;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
      border-color: $hover-color;
    }
  }
  .darkCardBackground_b37971,
  .darkCardBackground_c3d04b {
    background-color: rgba(0, 0, 0, 0.6);
  }

  // PREVIEW
  .collectibleInfoContainer_c50f62 {
    background-color: transparent;
  }
  .chatPreview_c50f62 {
    left: 0;
    bottom: 0;
    margin: 10px auto 0 auto;
  }
  .mockInput_c50f62 {
    background-color: hsla(0, 0%, 100%, 0.07);
  }

  // SERVER SHOP
  /* intro container */
  .container_adb50a {
    background: var(--background-overlay);
    border: 2px solid $main-color;
    &:hover {
      background: var(--background-overlay);
      border: 2px solid $hover-color;
    }
  }
  /* support the server perks */
  .selected_d804ff {
    background: $main-color;
  }

  // Buy Nitro
  .buttonWhite_b322b1 {
    color: $text-normal !important;
    background-color: $main-color !important;
    border-color: transparent !important;
    &:hover {
      background-color: $hover-color !important;
      color: $text-normal !important;
    }
  }

  // Subscribe button

  // Shop new pill
  .shyButton_a25714 {
    background: radial-gradient(ellipse at 120%200%, $main-color 10%, transparent 70%);
  }

  // Shop what's new
  .whatsNewSectionBackground_c880e8 {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.8));
  }

  // POPOUT GOING UP
  .popout__3f413,
  .popout__3f413.popoutPositionTop__3f413 {
    background: $popout-color;
  }

  // MESSAGE BUTTON WRAPPER
  .wrapper_f7ecac {
    background: rgba(0, 0, 0, 0.7);
  }

  // EMBED MESSAGE BACKGROUND
  .embedFull__623de {
    background: rgba(0, 0, 0, 0.6) !important; // !IMPORTANT BECAUSE DISCORD USED INLINE STYLE
  }

  // GUILD MEMBERS LIST
  .container_c8ffbb {
    border-left: none;
  }

  //  SOUNDBOARD (DUH)
  .picker__09f65 {
    background: $popout-color;
  }

  .channelTextArea_f75fb0 {
    background: rgba(0, 0, 0, calc($bg-shading * 0.8));
  }

  .jumpToPresentBar__0f481,
  .bottomBar__0f481 {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.6));
    &:hover {
      background-color: rgba(0, 0, 0, calc($bg-shading * 0.8));
    }
  }

  .file__0ccae {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.6));
    border-color: none;
    box-shadow: none;
  }

  // IMAGE ATTACHED TO CHAT MESSAGE
  .footer__4d95d {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
  // INBOX
  .messagesPopoutWrap__45690,
  .container__2692d {
    background-color: $popout-color;
  }

  .container__0f711 {
    background-color: transparent;
  }

  .messages__1ccd1,
  .barText__7aaec {
    background-color: transparent;
    border: 1px solid $main-color;
  }

  .messageContainer__95796 {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.1));
    border: 1px solid $main-color;
  }

  .container_fc561d {
    background-color: $popout-color;
  }
  // VC USERS LIMIT
  .wrapper__260e1 {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.1));
  }

  // Voice chat count
  .users__260e1 {
    color: $text-normal;
    background: rgba(0, 0, 0, 0.5);
  }
  .total__260e1 {
    color: $text-normal;
    background: hsla(0, 0%, 100%, 0.2);
    box-shadow: inset 1px 0 hsla(0, 0%, 100%, 0.4);
  }

  .container__9271d {
    background-color: var(--card-color);
  }

  .container__7641b {
    background: rgba(0, 0, 0, calc($bg-shading * 0.6));
  }
  /* DISCOVER */
  .scroller__23746 {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.4));
  }
  .backdrop__8a7fc {
    background-color: rgba($color: #0c1522, $alpha: 0.7);
    backdrop-filter: blur(5px);
  }
  .selected__65d41 {
    border-bottom-color: $main-color !important;
  }

  // SIDEBAR
  .container__551b0 {
    background-color: transparent;
  }
  .navItem__551b0 {
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      @include stretch;
      transition: all 0.15s ease-in-out;
      z-index: -1;
      pointer-events: none;
      border-radius: 4px;
    }
    &:after {
      content: '';
      position: absolute;
      @include pos(0, 100%, 0, 0);
      opacity: 0.9;
      transition: all 0.3s ease-in-out;
      z-index: -1;
      pointer-events: none;
      border-radius: 4px;
    }
    &:hover {
      &:before {
        background: hsla(0, 0%, 100%, 0.1);
      }
    }
    &.selected__551b0 {
      &:before {
        background: hsla(0, 0%, 100%, 0.1);
      }
      &:after {
        right: 0;
        background: $main-color;
        animation: cv-channel-select 0.3s ease-in-out;
      }
    }
    &:is(.selected__551b0, :hover, :active) {
      background-color: transparent;
    }
  }

  // GUILD LIST
  .theme-dark {
    :is(.card__84e3e, .container_a76561, .iconMask__4cb8a) {
      background-color: cv('bg.general.card');
      transition: all 0.15s ease-in-out;
      &:hover,
      &:hover .iconMask__4cb8a {
        background-color: hsla(0, 0%, 0%, 0.6);
      }
    }
  }
  .loading_e90879 {
    background-color: transparent;
  }
  .guildList_c8c448 {
    .spinner__0b5bb {
      background-color: hsla(0, 0%, 0%, 0.8);
    }
  }
  .presenceCountDot__4cb8a {
    background-color: cv('colors.online');
  }
  .memberCountDot__4cb8a {
    background-color: cv('colors.offline');
  }
  .spinner__0b5bb {
    background-color: cv('bg.general.card');
  }

  // SEARCH RESULTS
  .headerBar__8a7fc {
    background: rgba(0, 0, 0, calc($bg-shading * 0.6));
    box-shadow: 0 0 10px rgba(0, 0, 0, calc($bg-shading * 0.6));
  }
  .search_f69601,
  .container_cbd375 {
    background: rgba(0, 0, 0, calc($bg-shading * 0.5));
  }
  .iconButton__8a7fc {
    background-color: $main-color;
    &:hover {
      background-color: $hover-color;
    }
  }
  .container__74f3e {
    background-color: transparent;
  }
  .category_fe77d6 {
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      @include stretch;
      transition: all 0.15s ease-in-out;
      z-index: -1;
      pointer-events: none;
      border-radius: 4px;
    }
    &:after {
      content: '';
      position: absolute;
      @include pos(0, 100%, 0, 0);
      opacity: 0.9;
      transition: all 0.3s ease-in-out;
      z-index: -1;
      pointer-events: none;
      border-radius: 4px;
    }
    &:hover {
      &:before {
        background: hsla(0, 0%, 100%, 0.1);
      }
    }
    &.selected_fe77d6 {
      &:before {
        background: hsla(0, 0%, 100%, 0.1);
      }
      &:after {
        right: 0;
        background: $main-color;
        animation: cv-channel-select 0.3s ease-in-out;
      }
    }
    .text-sm\/normal_cf4812 {
      color: hsla(0, 0%, 100%, 0.7) !important;
    }
  }

  // QUESTS
  .container_cec934 {
    background-color: cv('bg.general.card');
  }
  .darkThemeGradient_b5b7aa {
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.9) 10%, hsla(0, 0%, 0%, 0.6) 25%, transparent 35%);
  }
  .container__956c6 {
    background-color: transparent;
  }
  .questName__956c6 {
    color: $main-color !important;
  }

  // APPS
  .theme-dark .avatar_f215b9 {
    background-color: cv('bg.general.card');
    border-color: transparent;
  }
  .card__84e3e .avatar_f215b9 {
    background-color: hsla(0, 0%, 0%, 0.6);
    border-color: transparent;
  }
  .avatar_efaad4 {
    background-color: cv('bg.general.card');
    border-color: transparent;
  }
  .category_ed45d7 {
    background-color: hsla(0, 0%, 100%, 0.1);
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.15);
    }
  }
  .card_c59071,
  .contentContainer_c6b177,
  .commandName_c6b177,
  .list__83c7c,
  .contentContainer__8f46b {
    background: cv('bg.general.card');
    border: none;
  }
  .appContainer__5a4b6 {
    background: cv('bg.general.card');
    border: none;
    &:focus,
    &:hover {
      background-color: hsla(0, 0%, 0%, 0.6);
    }
  }
  .card__84e3e {
    background-color: cv('bg.general.card') !important;
    &:focus,
    &:hover {
      background-color: hsla(0, 0%, 0%, 0.8) !important;
    }
  }

  // QUICKSWITCHER
  .quickswitcher_ac6cb0 {
    background-color: cv('bg.general.modal');
  }
  .input_ac6cb0 {
    background-color: rgba(255, 255, 255, 0.07);
  }
  .scroller_ac6cb0 {
    background-color: transparent;
    margin-top: 10px;
    &::-webkit-scrollbar-track {
      background-color: transparent !important;
    }
  }
  .result__71961[aria-selected='true'] {
    background: var(--background-modifier-hover);
  }
  .wrapper_dc0b29 {
    background: $main-color;
  }

  .chatHeaderBar_dc83f5 {
    background-color: $popout-color;
  }

  .actionButtons_cc1819 {
    background-color: cv('bg.general.modal');
    border-color: 1px solid $main-color;
  }

  .container_f69538 {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid $main-color;
  }

  .vc-addon-card {
    background: var(--background-overlay);
    border: 2px solid $main-color;
    &:hover {
      background: var(--background-overlay);
      border: 2px solid $hover-color;
    }
  }

  .cozy_c19a55 .timestamp_c19a55 {
    color: #fff;
    font-weight: 600;
  }

  .sidebarListRounded_c48ade {
    backdrop-filter: none; //remove shading from channels list when transparency is on
  }

  .tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf {
    background-color: $main-color;
    transition: ease-in-out;
    &:hover {
      background-color: $hover-color;
    }
  }
}

// NEW VOICE FILTER THINGY
// TODO: CHANGE THIS TO SELECTORS, PROBABLY NEEDS MORE ADJUSTMENT
.visual-refresh .voiceFiltersFooter_e2f668,
.visual-refresh .voiceFiltersPopout_e2f668 {
  background: $popout-color;
}

// APP BORDER
@supports (color: color-mix(in lch, red, blue)) and (top: var(--f)) {
  .visual-refresh.theme-dark,
  .visual-refresh .theme-dark {
    --app-border-frame: cv('bg.app.border');
  }
}

// REMOVE WEIRD DOUBLE BORDER ON SEARCH IN EMOJI PICKER
:where(.visual-refresh) .container_a45028:focus-within {
  border-color: none;
}

// VENCORD READ ALL
.vc-ranb-button {
  border-radius: 50px !important; // !IMPORTANT BECAUSE VENCORD USED INLINE STYLING
  &:hover {
    background-color: $hover-color;
  }
}

html:not(.visual-refresh .scroller_ef3116) button.vc-ranb-button.button__201d5.lookFilled__201d5.sizeMin__201d5.grow__201d5 {
  position: static;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  color: $text-normal;
  box-sizing: border-box;
  padding: 4px 8px;
  overflow: visible;
  z-index: 1;
  transition: all 0.6s linear;
  border-color: none;
  &:hover {
    background: $hover-color;
  }
}

//another weird double border on a different emoji picker (add a reaction)
:where(.visual-refresh) .container_a45028 {
  border: none;
  &:focus-within {
    border-color: none;
  }
}

.leading_c38106 {
  @include leading()
}

.notAppAsidePanel_a3002d {
  color: transparent;
}

.visual-refresh-chat-input .slateTextArea_ec4baf {
  color: #fff;
}

.flowerStar__3e3b0 > path {
  fill: $main-color;
}
