@use 'index' as *;
%visualRefresh {
  // APP BG
  %appMount {
    background: var(--background-overlay);
    position: static;
    z-index: 1; //make the overlay over before in case they use frosted glass
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--frosted-glass-background);
      backdrop-filter: blur(var(--background-blur));
      -webkit-backdrop-filter: blur(var(--background-blur));
      z-index: -1; //frosted glass beneath overlay so they can darken it with an overlay
    }
  }

  %bg {
    background: cv('bg.app.img') cv('bg.app.pos') / cv('bg.app.size') cv('bg.app.repeat') cv('bg.app.attach');
    @include filters(cv('bg.app'));
    z-index: -9999; // background image behind all the overlays.
  }

    /* INVITE LINK */
  %inviteWrapper {
    background: cv('bg.general.card');
  }
  %inviteTitle {
    color: hsla(0, 0%, 100%, 0.5);
  }
  %inviteGuildName {
    color: $main-color;
    @include hover-shadow;
  }
  %inviteGuildIcon {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  %inviteGuildIconExpired {
    position: relative;
    background-size: 0;
    background: hsla(0, 0%, 100%, 0.04);
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 10%;
      bottom: 10%;
      left: 50%;
      width: 6px;
      background: cv('colors.danger');
      border-radius: 1px;
    }
    &:after {
      transform: translateX(-50%) rotate(45deg);
    }
    &:before {
      transform: translateX(-50%) rotate(-45deg);
    }
  }
  %inviteGuildDetail {
    color: hsla(0, 0%, 100%, 0.3);
  }
  %inviteStatusOnline {
    background: cv('colors.online');
  }
  %inviteStatusOffline {
    background: cv('colors.offline');
  }
  %inviteWrapper {
    %buttonFilled%buttonColorGreen {
      background: transparent;
      border: 1px solid cv('colors.success');
      &:hover {
        background: cv('colors.success');
      }
    }
  }
  %inviteExpired {
    color: cv('colors.danger');
  }

  // GUILDS
  %guildsWrapper,
  // ACC PANEL
  %panels,
  %channelsHeader,
  %channelsSidebar::after,
  // SETTINGS
  %standardSidebarView,
  %settingsSidebarScroller,
  // FRIENDS LIST APPARENTLY
  %friendsList,
  // CHANNELS HEADER
  %channelsHeaderClickable,
  // CHANNELS ATTACH BAR
  %channelTextAreAttachedBar,
  // DATE DIVIDER
  %dividerDate,
  // HOME ICON BACKGROUND WHEN NO HOVER
  %homeIconBackground,
  // AGE RESTRICTED NSFW CHANNEL
  %ageRestricted,
  // follow this channel, and maybe more.
  %channelInfo,
  %startingCall,
  %chatLoadingWrapper,
  // INBOX
  %messagesPopoutChannelHeader,
  %messagesPopoutHeader,
  %callWrapper {
    background: rgba(0, 0, 0, calc($bg-shading * 0.1));
  }

  // CHAT BG
  %chatContent {
    background: rgba(0, 0, 0, calc($bg-shading * 0.5));
  }

  // UNREAD MESSAGES IN SERVER
  // IMPORTANT NEEDED BECAUSE DISCORD USED INLINE STYLING
  %unreadMessages {
    color: $text-normal !important;
  }

  // POLLS
  %poll {
    background-color: $popout-color;
    border: 1px solid $main-color;
  }

  // CHANNELS
  %channelsContainer,
  %privateChannels {
    background: rgba(0, 0, 0, calc($bg-shading * 0.3));
  }

  // CHAT INPUT
  %visualRefreshChatInput {
    %channelTextArea {
      background-color: rgba(0, 0, 0, calc($bg-shading * 0.6));
    }
  }
  // Resize handle
  %chatResize {
    background: rgba(0, 0, 0, calc($bg-shading * 0.5));
    &:hover {
      background: hsla(0, 0%, 100%, 0.2);
    }
  }

  // forum create a post
  %mainCard {
    background: rgba(0, 0, 0, calc($bg-shading * 0.5));
  }

  %callChatWrapper {
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  %activityContainer {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid $main-color;
    border-radius: 15px;
  }

  // loading screen
  %loadingScreen {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  // FORUM HEADER & ATTACHMENT AREA
  %forumChat,
  %forumChatHead,
  .header__34c2c,
  .channelAttachmentArea_b77158 {
    background: rgba(0, 0, 0, calc($bg-shading * 0.6));
  }
  // UPLOAD AREA
  %channelTextAreaUpload {
    background: rgba(0, 0, 0, calc($bg-shading * 0.4));
    border: 1px solid $main-color;
  }

  // GUILD EXPANDED FOLDER BG
  %guildExpandedFolderBackground {
    background-color: $main-color;
  }

  // BRAND BAR IDK WTF THIS WAS
  %barBrand {
    background-color: $main-color;
    border: none;
  }

  // MEMBER ACTIVITY IN CHAT
  %memberActivityContainer {
    background: var(--card-color);
    border: 1px solid $main-color;
  }

  // EMOJI PICKERS
  %emojiPickerSearchBar {
    margin-top: 6px;
  }

  %emojiPickerHeader,
  %emojiPickerWrapper,
  %emojiPicker,
  %emojiCategoryListWrapper,
  %gifPickerHeader,
  %stickerPickerHeader,
  %gifPickerContainer,
  %guildEmojisWrapper {
    background-color: $popout-color;
  }

  %emojiPickerInspector {
    background-color: transparent;
  }

  .container_a45028 {
    margin-top: 6px;
  }

  %emojiPickerCategoryHeaderWrapper {
    background-color: $main-color;
  }

  .emojiPickerHasTabWrapper_c0e32c %emojiCategoryList {
    margin-top: 6px;
  }

  :where(.visual-refresh) %guildSettingsRoleSearch {
    margin-top: 6px;
  }

  .bodyWrapper_c0e32c {
    background-color: $popout-color;
  }

  %stickerShortcut {
    display: none; // some useless sticker shortcut, badly placed.
  }

  %emojiPickerSuperReactionButton {
    background: transparent;
    color: $main-color;
    transition: color 0.5s ease-in-out;
    &:hover {
      color: $hover-color;
    }
  }

  /* DISCORD SHOP */
  %shopHomeWrapper {
    background-color: transparent;
  }
  %shopPreview {
    background: transparent;
  }
  %popularPicksShopAll {
    background: $main-color;
    &:hover {
      background: $hover-color;
    }
  }
  %shopAll {
    background-color: transparent;
  }
  %shopBackground {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.4));
  }
  %shopPageWrapper {
    background-color: transparent;
  }
  %shopHeader {
    background-color: transparent !important;
  }

  // LOADING
  %shopLoadingSkeleton {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  %shopLoadingBanner,
  %shopLoadingCard {
    background-color: cv('bg.general.card');
  }
  %shopLoadingCardContent {
    background-color: hsla(0, 0%, 100%, 0.07);
  }

  // CARD
  %shopCardNitro,
  %shopCard {
    background-color: cv('bg.general.card');
    border-color: $main-color;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
      border-color: $hover-color;
    }
  }
  %shopCardDarkBackgroundNitro,
  %shopCardDarkBackground {
    background-color: rgba(0, 0, 0, 0.6);
  }

  // PREVIEW
  %shopPreviewInfo {
    background-color: transparent;
  }
  %shopChatPreview {
    left: 0;
    bottom: 0;
    margin: 10px auto 0 auto;
  }
  %shopMockInput {
    background-color: hsla(0, 0%, 100%, 0.07);
  }

  // SERVER SHOP
  /* intro container */
  %serverShopIntro {
    background: var(--background-overlay);
    border: 2px solid $main-color;
    &:hover {
      background: var(--background-overlay);
      border: 2px solid $hover-color;
    }
  }
  /* support the server perks */
  %serverShopSelected {
    background: $main-color;
  }

  // Buy Nitro
  %nitroShopGiftNitro {
    color: $text-normal !important;
    background-color: $main-color !important;
    border-color: transparent !important;
    &:hover {
      background-color: $hover-color !important;
      color: $text-normal !important;
    }
  }

  // Subscribe button
  %buttonInverted%buttonColorBrand {
    background: $main-color;
    color: $text-normal;
    &:hover {
      background: $hover-color;
      color: $text-normal;
    }
  }

  // Shop new pill
  %shopNewPill {
    background: radial-gradient(ellipse at 120%200%, $main-color 10%, transparent 70%);
  }

  // Shop what's new
  %shopWhatsNew {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.8));
  }

  // POPOUT GOING UP
  .popout__3f413,
  .popout__3f413.popoutPositionTop__3f413 {
    background: $popout-color;
  }

  // MESSAGE BUTTON WRAPPER
  %messageButtonWrapper {
    background: rgba(0, 0, 0, 0.7);
  }

  // EMBED MESSAGE BACKGROUND
  %embedBackground {
    background: rgba(0, 0, 0, 0.6) !important; // !IMPORTANT BECAUSE DISCORD USED INLINE STYLE
  }

  // GUILD MEMBERS LIST
  %membersContainer {
    border-left: none;
  }

  //  SOUNDBOARD (DUH)
  %soundboard {
    background: $popout-color;
  }

  %channelTextAreaNoPermissions {
    background: rgba(0, 0, 0, calc($bg-shading * 0.8));
  }

  %jumpToPresentBar {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.6));
    &:hover {
      background-color: rgba(0, 0, 0, calc($bg-shading * 0.8));
    }
  }

  %fileUploading {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.6));
    border-color: none;
    box-shadow: none;
  }

  // IMAGE ATTACHED TO CHAT MESSAGE
  %textContainerFooter {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
  // INBOX
  %messagesPopoutWrap,
  %inboxHeader {
    background-color: $popout-color;
  }

  %forYouContainer {
    background-color: transparent;
  }

  %unreadMessages {
    background-color: transparent;
    border: 1px solid $main-color;
  }

  %recentMentionsMessagesContainer {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.1));
    border: 1px solid $main-color;
  }

  %InboxHeaderContainer {
    background-color: $popout-color;
  }
  // VC USERS LIMIT
  %channelUserLimitWrapper {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.1));
  }

  // Voice chat count
  %channelUserLimitUsers {
    color: $text-normal;
    background: rgba(0, 0, 0, 0.5);
  }
  %channelUserLimitTotal {
    color: $text-normal;
    background: hsla(0, 0%, 100%, 0.2);
    box-shadow: inset 1px 0 hsla(0, 0%, 100%, 0.4);
  }

  %messageThreadEmbed {
    background-color: var(--card-color);
  }

  %threadsMemeberContainer {
    background: rgba(0, 0, 0, calc($bg-shading * 0.6));
  }
  /* DISCOVER */
  %discover {
    background-color: rgba(0, 0, 0, calc($bg-shading * 0.4));
  }
  %discoverHeaderBackdrop {
    background-color: rgba($color: #0c1522, $alpha: 0.7);
    backdrop-filter: blur(5px);
  }
  %discoverTabSelected {
    border-bottom-color: $main-color !important;
  }

  // SIDEBAR
  %discoverCategory {
    background-color: transparent;
  }
  %discoverCategoryItem {
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      @include stretch;
      transition: all 0.15s ease-in-out;
      z-index: -1;
      pointer-events: none;
      border-radius: 4px;
    }
    &:after {
      content: '';
      position: absolute;
      @include pos(0, 100%, 0, 0);
      opacity: 0.9;
      transition: all 0.3s ease-in-out;
      z-index: -1;
      pointer-events: none;
      border-radius: 4px;
    }
    &:hover {
      &:before {
        background: hsla(0, 0%, 100%, 0.1);
      }
    }
    &%discoverCategoryItemSelected {
      &:before {
        background: hsla(0, 0%, 100%, 0.1);
      }
      &:after {
        right: 0;
        background: $main-color;
        animation: cv-channel-select 0.3s ease-in-out;
      }
    }
    &:is(%discoverCategoryItemSelected, :hover, :active) {
      background-color: transparent;
    }
  }

  // GUILD LIST
  %themeDark {
    :is(%discoverGuildCard, %discoverHubCard, %discoverGuildCardIcon) {
      background-color: cv('bg.general.card');
      transition: all 0.15s ease-in-out;
      &:hover,
      &:hover %discoverGuildCardIcon {
        background-color: hsla(0, 0%, 0%, 0.6);
      }
    }
  }
  %discoverGuildCardLoading {
    background-color: transparent;
  }
  %discoverGuildList {
    %spinner {
      background-color: hsla(0, 0%, 0%, 0.8);
    }
  }
  %discoverGuildMembersOnline {
    background-color: cv('colors.online');
  }
  %discoverGuildMembersOffline {
    background-color: cv('colors.offline');
  }
  %discoverGuildLoading {
    background-color: cv('bg.general.card');
  }

  // SEARCH RESULTS
  %discoverSearchHeader {
    background: rgba(0, 0, 0, calc($bg-shading * 0.6));
    box-shadow: 0 0 10px rgba(0, 0, 0, calc($bg-shading * 0.6));
  }
  %discoverSearch {
    background: rgba(0, 0, 0, calc($bg-shading * 0.5));
  }
  %discoverSearchBackButton {
    background-color: $main-color;
    &:hover {
      background-color: $hover-color;
    }
  }
  %discoverSearchEmpty {
    background-color: transparent;
  }
  %discoverSearchCategory {
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      @include stretch;
      transition: all 0.15s ease-in-out;
      z-index: -1;
      pointer-events: none;
      border-radius: 4px;
    }
    &:after {
      content: '';
      position: absolute;
      @include pos(0, 100%, 0, 0);
      opacity: 0.9;
      transition: all 0.3s ease-in-out;
      z-index: -1;
      pointer-events: none;
      border-radius: 4px;
    }
    &:hover {
      &:before {
        background: hsla(0, 0%, 100%, 0.1);
      }
    }
    &%discoverSearchCategorySelected {
      &:before {
        background: hsla(0, 0%, 100%, 0.1);
      }
      &:after {
        right: 0;
        background: $main-color;
        animation: cv-channel-select 0.3s ease-in-out;
      }
    }
    %textSmallNormal {
      color: hsla(0, 0%, 100%, 0.7) !important;
    }
  }

  // QUESTS
  %discoverQuestItem {
    background-color: cv('bg.general.card');
  }
  %discoverQuestItemGradient {
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.9) 10%, hsla(0, 0%, 0%, 0.6) 25%, transparent 35%);
  }
  %discoverQuestItemDescription {
    background-color: transparent;
  }
  %discoverQuestItemName {
    color: $main-color !important;
  }

  // APPS
  %themeDark %discoverAppListAvatar {
    background-color: cv('bg.general.card');
    border-color: transparent;
  }
  %discoverGuildCard %discoverAppListAvatar {
    background-color: hsla(0, 0%, 0%, 0.6);
    border-color: transparent;
  }
  %discoverAppAvatar {
    background-color: cv('bg.general.card');
    border-color: transparent;
  }
  %discoverAppCategory {
    background-color: hsla(0, 0%, 100%, 0.1);
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.15);
    }
  }
  %discoverAppSupportServer,
  %discoverAppCommands,
  %discoverAppCommand,
  %discoverAppPermissionList,
  %discoverAppDataAccess {
    background: cv('bg.general.card');
    border: none;
  }
  %discoverAppMoreApps {
    background: cv('bg.general.card');
    border: none;
    &:focus,
    &:hover {
      background-color: hsla(0, 0%, 0%, 0.6);
    }
  }
  %discoverGuildCard {
    background-color: cv('bg.general.card') !important;
    &:focus,
    &:hover {
      background-color: hsla(0, 0%, 0%, 0.8) !important;
    }
  }

  // QUICKSWITCHER
  %quickswitcher {
    background-color: cv('bg.general.modal');
  }
  %quickswitcherInput {
    background-color: rgba(255, 255, 255, 0.07);
  }
  %quickswitcherScroller {
    background-color: transparent;
    margin-top: 10px;
    &::-webkit-scrollbar-track {
      background-color: transparent !important;
    }
  }
  %quickswitcherResult[aria-selected='true'] {
    background: var(--background-modifier-hover);
  }
  %quickswitcherPing {
    background: $main-color;
  }

  %channelNotInList {
    background-color: $popout-color;
  }

  %imageModalActionButtons {
    background-color: cv('bg.general.modal');
    border-color: 1px solid $main-color;
  }

  %pollEndContainer {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid $main-color;
  }

  .vc-addon-card {
    background: var(--background-overlay);
    border: 2px solid $main-color;
    &:hover {
      background: var(--background-overlay);
      border: 2px solid $hover-color;
    }
  }

  %cozy %messageTimestamp {
    color: #fff;
    font-weight: 600;
  }

  %sidebarListRounded {
    backdrop-filter: none; //remove shading from channels list when transparency is on
  }

  %addFriendTab %addFriend%addFriend%addFriend  {
    background-color: $main-color;
    transition: ease-in-out;
    &:hover {
      background-color: $hover-color;
    }
  }
}

// NEW VOICE FILTER THINGY
// TODO: CHANGE THIS TO SELECTORS, PROBABLY NEEDS MORE ADJUSTMENT
.visual-refresh .voiceFiltersFooter_e2f668,
.visual-refresh .voiceFiltersPopout_e2f668 {
  background: $popout-color;
}

// APP BORDER
@supports (color: color-mix(in lch, red, blue)) and (top: var(--f)) {
  .visual-refresh.theme-dark,
  .visual-refresh .theme-dark {
    --app-border-frame: cv('bg.app.border');
  }
}

// REMOVE WEIRD DOUBLE BORDER ON SEARCH IN EMOJI PICKER
:where(.visual-refresh) .container_a45028:focus-within {
  border-color: none;
}

// VENCORD READ ALL
.vc-ranb-button {
  border-radius: 50px !important; // !IMPORTANT BECAUSE VENCORD USED INLINE STYLING
  &:hover {
    background-color: $hover-color;
  }
}

html:not(.visual-refresh .scroller_ef3116) button.vc-ranb-button.button__201d5.lookFilled__201d5.sizeMin__201d5.grow__201d5 {
  position: static;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  color: $text-normal;
  box-sizing: border-box;
  padding: 4px 8px;
  overflow: visible;
  z-index: 1;
  transition: all 0.6s linear;
  border-color: none;
  &:hover {
    background: $hover-color;
  }
}

//another weird double border on a different emoji picker (add a reaction)
:where(.visual-refresh) .container_a45028 {
  border: none;
  &:focus-within {
    border-color: none;
  }
}

%leading {
  @include leading()
}

.notAppAsidePanel_a3002d {
  color: transparent;
}

%visualRefreshChatInput %visualRefreshChatText {
  color: #fff;
}

%flowerStar > path {
  fill: $main-color;
}
